{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- our project just needs Font Awesome Solid + Brands it's FREE icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ asset('fontawesome/css/fontawesome.min.css')}}" rel="stylesheet" />
    <link href="{{ asset('fontawesome/css/brands.min.css')}}" rel="stylesheet" />
    <link href="{{ asset('fontawesome/css/solid.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div style="background-color: rgb(6, 22, 37); width: 99vw; height: 100vh;">
        <div class="row g-3 col-md-3" style="position:absolute; top: 30%; left: 40%; color:white;">
            <div class="col-md-12">
                <h1 class="h3 mb-3 font-weight-normal" style="margin-left:30px;">Réinitialiser votre mot de passe</h1>
            </div>

            {{ form_start(resetForm, {'attr': {'class': 'row g-3'}}) }}
                <div class="col-md-7">
                    {{ form_row(resetForm.plainPassword.first) }}
                </div>
                <div class="col-md-7">
                    {{ form_row(resetForm.plainPassword.second) }}
                </div>

                <div>
                    <button class="btn btn-lg btn-primary col-7" type="submit">
                        Réinitialiser le mot de passe
                    </button>
                </div>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}