{% extends 'base.html.twig' %}

{% block title %}
    Parc Équipements Clients Somafi
{% endblock %}
{% block stylesheets %}
    <!-- our project just needs Font Awesome Solid + Brands it's FREE icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {# <link href="https://www.dev.backend-kizeo.somafi-group.fr/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="https://www.dev.backend-kizeo.somafi-group.fr/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="https://www.dev.backend-kizeo.somafi-group.fr/fontawesome/css/solid.min.css" rel="stylesheet" /> #}
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://kit.fontawesome.com/722abd2107.js" crossorigin="anonymous"></script>
    <script src="/public/js/filterFunction.js"></script>
    <script src="/public/js/editEquipmentInModal.js"></script>
    <script src="/public/js/pdf-enhanced.js"></script>
{% endblock %}
{% block body %}
    <style>
        body{
            background-color: rgb(6, 22, 37);
            color: white;
            padding: 80px;
        }
        header{
            font-size: 24px;
            text-align: center;
            margin-top: -30px;
        }
        nav{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .navbar-brand i {
            margin: 10px;
            font-size: xx-large;
        }
        .nav-link i {
            margin: 10px;
            font-size: xx-large;
        }
        .nav-link {
            color:black
        }
        /*Sélection agence et client*/
        .selections-container{
            margin-left: 30px;
            margin-bottom: 30px;
        }
        .form-control {
            display: block;
            width: 75%;
        }
        input.form-control-client {
            width: 20%;
        }
        /* CLIENTS */
        .selection-client{
            margin-bottom: 30px;
        }
        .selection-client-container{
            width: 100vw;
            margin-left: 30px;
        }
        .selection-client-label{
            margin-right: 30px;
            font-size: 18px;
        }
        #client-sous-contrat-select, #agence-somafi{
            width: 385px;
            margin-top: 12px;
            margin-bottom: 15px;
        }

        /* AGENCES */
        .selection-agence{
            margin-bottom: 20px;
        }
        .selection-agence-label{
            margin-right: 30px;
            font-size: 18px;
        }
        #agence-sous-contrat-select{
            width: 250px;
            margin-left: 36px;
        }
        
        /*Infos client*/
        .client-infos{
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .entete-client-infos{
            height: 25%;
            display: flex;
        }
        .infos-nombre-equipements h3, .infos-contrat h3{
            text-align: center;
        }
        .client-infos-nombre{
            font-size: 30px;
            text-align: center;
        }
        .card-body{
            height: 219px;
        }
        .card-title{
            text-align: center;
        }
        span{
            margin-bottom: 10px;
            font-size: 20px;
        }

        .btn i{
            margin: 5px;
        }

        /*Table équipements client*/
        th{
            font-size: 22px;
            text-align: center;
            margin-bottom: 3px;
        }
        thead th{
            position: sticky;
            top: 0;
            background-color: rgb(6, 22, 37);
        }
        td{
            border: 1px solid black;
            width: 20rem;
            height: 2rem;
            margin: 5px;
            text-align: center;
            font-size: 20px;
            color: black;
        }
        .bootstrap-table .fixed-table-container .table tfoot th .th-inner, .bootstrap-table .fixed-table-container .table thead th .th-inner {
            padding: .20rem;
        }
        .bootstrap-table .fixed-table-container .table tfoot th, .bootstrap-table .fixed-table-container .table thead th {
            vertical-align: top;
        }
        .bootstrap-table .fixed-table-container .fixed-table-body {
            overflow: auto;
            height: 100%;
            width: min-content;
        }
        .bootstrap-table .fixed-table-container .fixed-table-body {
            overflow: auto;
            height: 100%;
            /* width: 100vw; */
            margin-left: -85%;
        }

        /*Filtres de la table*/
        .filters-table{
            display: flex;
            width: 60%;
            justify-content: space-around;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            margin: auto;
            margin-bottom: 30px;
            margin-top: 35px;
            border: 2px solid grey;
        }
        .filters-table h3{
            margin-top: 70px;
            font-size: 30px;
            color: black;
        }
        #filtre-trigramme, #filtre-visite, #filtre-statutdemaintenance{
            display: flex;
            flex-direction: column;
            width: 150px;
            align-items: center;
            background-color: rgba(63, 58, 58, 0.6);
            padding: 10px;
            border: 4px solid black;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #filtre-trigramme label, #filtre-visite label, #filtre-statutdemaintenance label{
            font-size: 20px;
            color: black;
        }
        .select_libelle, .select_visite, .select_statutdemaintenance{
            width: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #filtre-visite .btn.btn-danger, #filtre-statutdemaintenance .btn.btn-danger, #filtre-trigramme .btn.btn-danger {
            font-size: 10px;
            margin-left: 110px;
            margin-top: -10px;
        }
        #statutdemaintenance-dropdown{
            width: 110px;
        }

        /* MODAL */
        .modal{
            color: black;
            --bs-modal-width: 30%;
        }
        .modal label{
            margin-top: 15px;
        }
        textarea {
            resize: none;
            height: 100px;
        }
        .modal .form_control{
            width: 75%;
        }
        .modal .btn-primary{
            margin-top: 30px;
        }
        .me-auto {
            margin-top: 10px;
        }
        .me-auto span {
            color: black;
        }
        .fa-solid, .fas {
            color: black;
        }

    </style>
    {% if app.user and is_granted('ROLE_ADMIN') or is_granted('ROLE_SOMAFI') or is_granted('ROLE_SOMAFI_TESTEUR') or is_granted('ROLE_ADMIN_KUEHNE') or is_granted('ROLE_S10') or is_granted('ROLE_S40') or is_granted('ROLE_S50') or is_granted('ROLE_S60') or is_granted('ROLE_S70') or is_granted('ROLE_S80') or is_granted('ROLE_S100') or is_granted('ROLE_S120') or is_granted('ROLE_S130') or is_granted('ROLE_S140') or is_granted('ROLE_S150') or is_granted('ROLE_S160') or is_granted('ROLE_S170') %}
        {% block header %}
        <header class="header">
            <h1>Gestion de parc équipements</h1>
            {% if app.user %}
                <h2>Bonjour {{ app.user.firstName }}</h2>
            {% else %}
                <h2>Bonjour Invité</h2>
            {% endif %}
        </header>
        {% endblock %}

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <i class="fa-solid fa-house"> </i>Accueil
                </a>
                
                <!-- Regrouper les autres liens de navigation -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        {#<li class="nav-item">
                            <a href="{{ path('app_contrat_new') }}" class="nav-link" >
                                <i class="fa-solid fa-file-contract"></i> Nouveau contrat
                            </a>
                        </li>#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link align-items-center" data-bs-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseAdmin">
                                    <i class="fa-solid fa-cog"></i>
                                    <span style="font-size:16px;">Administration</span>
                                    <i class="ms-1 fa-solid fa-caret-down"></i>
                                </a>
                                <div class="collapse" id="collapseAdmin">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link ms-3" href="{{ path('admin_short_links_index') }}">
                                                <i class="fa-solid fa-link"></i> Liens Courts
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3" href="{{ path('app_user_index') }}">Liste</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3" href="{{ path('app_user_new') }}">Nouvel utilisateur</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav me-auto">
                        {% if is_granted('ROLE_ADMIN_KUEHNE') or is_granted('ROLE_ADMIN_GLS') %}
                            <li class="nav-item">
                                <a class="nav-link align-items-center" data-bs-toggle="collapse" href="#collapseUsers" role="button" aria-expanded="false" aria-controls="collapseUsers">
                                    <i class="fa-solid fa-user"></i>
                                    <span style="font-size:16px;">Interface de gestion Contrats Cadre</span>
                                    <i class="ms-1 fa-solid fa-caret-down"></i>
                                </a>
                                <div class="collapse" id="collapseUsers">
                                    <ul class="nav flex-column">
                                        {% if is_granted('ROLE_ADMIN_KUEHNE') %}
                                            <li class="nav-item">
                                                <a class="nav-link ms-3" href="{{ path('app_kuehne') }}">KUEHNE</a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN_GLS') %}
                                            <li class="nav-item">
                                                <a class="nav-link ms-3" href="{{ path('app_gls') }}">GLS</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="nav-link">
                                Se déconnecter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {# Flash messages #}
        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="selections-container">
            <div class="selection-client">
                <!-- Section de sélection d'agence si plusieurs agences disponibles et aucun client sélectionné -->
                {% if userAgencies|length > 1 and agenceSelected is null%}
                    <div>
                        <h2><span class="number"> 1 - </span>Sélectionnez votre agence</h2>
                        <form action="" method="post">
                            <select class="form-control" id="agence-somafi" name="agenceName" required>
                                <option value="" selected>Sélectionner une agence</option> 
                                {% for agencyCode in userAgencies %}
                                    <option value="{{ agencyCode }}">
                                        {{ agencyCode }} - {% if agencyCode == 'S10' %}Group
                                        {% elseif agencyCode == 'S40' %}St Etienne
                                        {% elseif agencyCode == 'S50' %}Grenoble
                                        {% elseif agencyCode == 'S60' %}Lyon
                                        {% elseif agencyCode == 'S70' %}Bordeaux
                                        {% elseif agencyCode == 'S80' %}ParisNord
                                        {% elseif agencyCode == 'S100' %}Montpellier
                                        {% elseif agencyCode == 'S120' %}HautsDeFrance
                                        {% elseif agencyCode == 'S130' %}Toulouse
                                        {% elseif agencyCode == 'S140' %}SMP
                                        {% elseif agencyCode == 'S150' %}PACA
                                        {% elseif agencyCode == 'S160' %}Rouen
                                        {% elseif agencyCode == 'S170' %}Rennes
                                        {% else %}{{ agencyCode }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" name="submitAgence" class="btn btn-primary">Sélectionner l'agence</button>
                        </form>
                    </div>
                {% endif %}

                <!-- Sélection du client (affiché seulement si agence sélectionnée mais pas de client sélectionné) -->
                {% if agenceSelected is not null and clientSelected is null %}
                    <!-- <div class="alert alert-info">                        
                        <label class="selection-client-label" for="client-select">Clients sous contrat : <strong>{{ agenceSelected }} - 
                        {% if agenceSelected == 'S10' %}Group
                        {% elseif agenceSelected == 'S40' %}St Etienne
                        {% elseif agenceSelected == 'S50' %}Grenoble
                        {% elseif agenceSelected == 'S60' %}Lyon
                        {% elseif agenceSelected == 'S70' %}Bordeaux
                        {% elseif agenceSelected == 'S80' %}ParisNord
                        {% elseif agenceSelected == 'S100' %}Montpellier
                        {% elseif agenceSelected == 'S120' %}HautsDeFrance
                        {% elseif agenceSelected == 'S130' %}Toulouse
                        {% elseif agenceSelected == 'S140' %}SMP
                        {% elseif agenceSelected == 'S150' %}PACA
                        {% elseif agenceSelected == 'S160' %}Rouen
                        {% elseif agenceSelected == 'S170' %}Rennes
                        {% else %}{{ agenceSelected }}
                        {% endif %}</strong></label>
                        <form action="" method="post">
                            <input type="text" class="form-control form-control-client" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                            <select class="form-control" id="client-sous-contrat-select" name="clientName" onFocus="expand(this)" onBlur="unexpand(this)" onclick="unexpand(this)" required>
                                <option value="" selected>Select client</option> 
                                {% if agenceSelected == "S10" %}
                                    {% for client in clientsGroup %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S40" %}
                                    {% for client in clientsStEtienne %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S50" %}
                                    {% for client in clientsGrenoble %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S60" %}
                                    {% for client in clientsLyon %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S70" %}
                                    {% for client in clientsBordeaux %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S80" %}
                                    {% for client in clientsParisNord %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S100" %}
                                    {% for client in clientsMontpellier %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S120" %}
                                    {% for client in clientsHautsDeFrance %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S130" %}
                                    {% for client in clientsToulouse %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S140" %}
                                    {% for client in clientsEpinal %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S150" %}
                                    {% for client in clientsPaca %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S160" %}
                                    {% for client in clientsRouen %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% elseif agenceSelected == "S170" %}
                                    {% for client in clientsRennes %}
                                        <option value="{{ client }} {{ agenceSelected }}">{{ client }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">Aucun client disponible pour cette agence</option>
                                {% endif %}
                            </select>
                            <button type="submit" name="submitClient" class="btn btn-primary">Select Client</button>
                        </form>
                    </div> -->
                    {% if agenceSelected == 'S10' %}
                        <div class="card">
                            <div class="card-header">
                                <h3>Clients sous contrat : S10 - Group</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action="{{ path('app_front') }}">
                                    <!-- ✅ CHAMP CACHÉ POUR CONSERVER L'AGENCE -->
                                    <input type="hidden" name="hiddenAgence" value="S10">
                                    
                                    <div class="form-group">
                                        <input type="text" id="searchClients" class="form-control" placeholder="Rechercher un client..." onkeyup="filterClients()">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="clientsList" name="clientName">
                                            <option value="">Sélectionnez un client</option>
                                            {% for client in clientsGroup %}
                                                <!-- ✅ SUPPRIME L'AGENCE DU NOM DU CLIENT -->
                                                <option value="{{ client.idContact }}-{{ client.raisonSociale }}">
                                                    {{ client.idContact }}-{{ client.raisonSociale }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Select Client</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <!-- Informations et équipements du client sélectionné -->
        {% if clientSelectedInformations != NULL %}
            <div class="row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Adresse</h4>
                            <span></span>
                            <span class="card-text"><b>{{ clientSelectedInformations.getRaisonSociale() }}</b></span><br>
                            <span class="card-text">{{ clientSelectedInformations.getAdressep1() }} </span><br>
                            <span class="card-text">{{ clientSelectedInformations.getCpostalp() }} </span><br>
                            <span class="card-text">{{ clientSelectedInformations.getVillep() }} </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Infos client</h4>
                            <span class="card-text"><b>Id client</b> : {{ clientSelectedInformations.getIdContact() }} </span><br>
                            <span class="card-text"><b>Id société</b> : {{ clientSelectedInformations.getIdSociete() }}</span><br>
                            <span class="card-text"><b>Agence</b> : {{ agenceSelected }}</span><br>
                            <span class="card-text"><b>Téléphone</b> : {{ clientSelectedInformations.getTelephone() }} </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Filtres</h4>
                            <form id="filterForm" method="get" action="">
                                <input type="hidden" class="form-control" id="clientSelected" name="clientSelected" value="{{ clientSelected }}">
                                <input type="hidden" class="form-control" id="agenceSelected" name="agenceSelected" value="{{ agenceSelected }}">
                                <input type="hidden" class="form-control" id="idClientSelected" name="idClientSelected" value="{{ idClientSelected }}">
                                <div class="form-group">
                                    <label for="clientAnneeFilter">Année :</label>
                                    <select class="form-control" id="clientAnneeFilter" name="clientAnneeFilter">
                                        {% for annee in clientAnneeFilterArray %}
                                            <option value="{{ annee }}" {% if clientAnneeFilter == annee %}selected{% endif %}>{{ annee }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="clientVisiteFilter">Visite :</label>
                                    <select class="form-control" id="clientVisiteFilter" name="clientVisiteFilter">
                                        {% for visite in clientVisiteFilterArray %}
                                            <option value="{{ visite }}" {% if clientVisiteFilter == visite %}selected{% endif %}>{{ visite }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" name="submitFilters" value="1" class="btn btn-primary">Filtrer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Nombre d'équipements au contrat</h4>
                            <br>
                            <br>
                            <p class="client-infos-nombre">{{ clientSelectedEquipmentsFilteredAuContrat|length }}</p>
                        </div>
                    </div>
                </div>
                {% if clientSelectedEquipmentsFilteredHorsContrat is not empty %}
                    <div class="margin_top_30 col-sm-3">
                        <div class="card">
                            <div class="card-body" style="background-color: indianred; color: white;">
                                <h4 class="card-title">Nombre d'équipements hors contrat</h4>
                                <br>
                                <br>
                                <p class="client-infos-nombre">{{ clientSelectedEquipmentsFilteredHorsContrat|length }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="margin_top_30 col-sm-3">
                    <div class="card downloadPdf">
                        <div class="card-body">
                            <h4 class="card-title">CR tech KIZEO</h4>
                            <select name="compte-rendu-tech-kizeo" id="compte-rendu-tech-kizeo" onchange="window.open(this.value)">
                                <option value="" selected disabled>Sélectionner un CR tech Kizeo</option>
                                {% for objectFile in directoriesLists %}
                                    {% if  objectFile.path %}
                                        <option value="{{ objectFile.path }}">
                                            {{ objectFile.visite }} du {{ objectFile.date }}
                                        </option>
                                    {#<li style="margin-bottom:10px;"><a href="{{ objectFile.path }}" target="_blank">{{ objectFile.visite }} du {{ objectFile.date }}</a></li>#}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Bouton pour générer le PDF de tous les équipements du client -->
                <div class="margin_top_30 col-sm-3">
                    <a id="pdf-button" href="{{ path('client_equipements_pdf', {
                        'agence': agenceSelected,
                        'id': clientSelectedInformations.getIdContact(),
                        'clientAnneeFilter': clientAnneeFilter,
                        'clientVisiteFilter': clientVisiteFilter
                    }) }}" 
                    class="btn btn-success btn-lg" target="_blank">
                        <i class="fa-solid fa-file-pdf"></i> Générer PDF complet du client
                        {% if clientAnneeFilter or clientVisiteFilter %}
                            <small class="d-block">
                                ({% if clientAnneeFilter %}{{ clientAnneeFilter }}{% endif %}{% if clientVisiteFilter %} - {{ clientVisiteFilter }}{% endif %})
                            </small>
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endif %}

        
        {% block modal %}
        <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class=" fa-solid fa-pen-to-square"></i> Édition de l'équipement</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/save/modal/equipement" method="post" class="row g-12">
                                <input type="hidden" class="form-control" id="modal_libelle" value="" name="libelle" />
                                <input type="hidden" class="form-control" id="modal_idContact" value="" name="idContact" />
                                <input type="hidden" class="form-control" id="modal_idSociete" value="" name="idSociete" />
                                {#<input type="hidden" class="form-control" id="modal_anomalies" value="" name="anomalies" />#}
                                <input type="hidden" class="form-control" id="modal_trigrammeTech" value="" name="trigrammeTech" />
                                <input type="hidden" class="form-control" id="modal_signatureTech" value="" name="signatureTech" />
                                <input type="hidden" class="form-control" id="modal_ifExistDB" value="" name="ifExistDB" />
                                <input type="hidden" class="form-control" id="modal_hauteurNacelle" value="" name="hauteurNacelle" />
                                <input type="hidden" class="form-control" id="modal_modeleNacelle" value="" name="modeleNacelle" />
                                <input type="hidden" class="form-control" id="modal_raisonSociale" value="" name="raisonSociale" />
                                <input type="hidden" class="form-control" id="modal_visite" value="" name="visite" />
                                <input type="hidden" class="form-control" id="modal_id" value="" name="id" />
                                <div class="col-md-12">
                                    <h3>Personne modifiant l'équipement</h3>
                                    <div class="col-md-6">
                                        <label for="nom" class="form-label">Votre nom</label>
                                        <input type="text" class="form-control" id="modal_nom" value="" name="nom" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="prenom" class="form-label">Votre prénom</label>
                                        <input type="text" class="form-control" id="modal_prenom" value="" name="prenom" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="trigramme" class="form-label">Équipement cible</label>
                                    <input type="text" class="form-control" placeholder="" id="modal_trigramme" value="" name="trigramme" />
                                    <label for="codeAgence" class="form-label">Code Agence</label>
                                    <input type="text" class="form-control" placeholder="" id="modal_codeAgence" value="" name="codeAgence" />
                                </div>
                                <div class="col-md-6">
                                    <label for="modeFonctionnement" class="form-label">Mode de fonctionnement</label>
                                    <input type="text" class="form-control" placeholder="" id="modal_modeFonctionnement" value="" name="modefonctionnement" />
                                </div>
                                <div class="col-md-6">
                                    <label for="repereCiteClient" class="form-label">Repère site client</label>
                                    <input type="text" id="modal_repereSiteClient" class="form-control" placeholder="" value="" name="reperesiteclient" />
                                </div>
                                <div class="col-md-6">
                                    <label for="miseEnService" class="form-label">Mise en service</label>
                                    <input type="text" id="modal_miseEnService" class="form-control" placeholder="" value="" name="miseenservice" />
                                </div>
                                <div class="col-md-6">
                                    <label for="numeroDeSerie" class="form-label">Numéro de série</label>
                                    <input type="text" id="modal_numeroDeSerie" class="form-control" placeholder="" value="" name="numerodeserie" />
                                </div>
                                <div class="col-md-6">
                                    <label for="marque" class="form-label">Marque</label>
                                    <input type="text" id="modal_marque" class="form-control" placeholder="" value="" name="marque" />
                                </div>
                                <div class="col-md-6">
                                    <label for="hauteur" class="form-label">Hauteur</label>
                                    <input type="text" id="modal_hauteur" class="form-control" placeholder="" value="" name="hauteur" />
                                </div>
                                <div class="col-md-6">
                                    <label for="Largeur" class="form-label">Largeur</label>
                                    <input type="text" id="modal_largeur" class="form-control" placeholder="" value="" name="largeur" />
                                </div>
                                <div class="col-md-6">
                                    <label for="longueur" class="form-label">Longueur</label>
                                    <input type="text" id="modal_longueur" class="form-control" placeholder="" value="" name="longueur" />
                                </div>
                                <div class="col-md-12">
                                    <label for="plaqueSignaletique" class="form-label">Plaque signalétique</label>
                                    <input type="text" id="modal_plaqueSignaletique" class="form-control" placeholder="" value="" name="plaquesignaletique"/>
                                </div>
                                <div class="col-md-12">
                                    <label for="anomalies" class="form-label">Anomalies</label>
                                    <input type="text" id="modal_anomalies" class="form-control" placeholder="" value="" name="anomalies"/>
                                </div>
                                <div class="col-12">
                                    <label for="etat" class="form-label">État de l'équipement</label>
                                    <textarea id="modal_etat" class="form-control " value="" name="etat" ></textarea>
                                </div>
                                <div class="col-6">
                                    <label for="dateDerniereVisite" class="form-label">Dernière visite de maintenance</label>
                                    <input type="text" id="modal_derniereVisite"class="form-control" placeholder="" value="" name="dernierevisitedemaintenance" />
                                </div>
                                <div class="col-6">
                                    <label for="statut-actuel" class="form-label">Statut actuel de l'équipement</label>
                                    <input type="text" id="modal_statut" class="form-control" placeholder="" value="" name="oldstatut" />
                                </div>
                                <div class="col-6">
                                    <label for="statut" class="form-label">Statut de l'équipement</label>
                                    <select id="modal_prochain_statut" class="form-select"  name="newstatutclient">
                                        <option selected>Choose...</option>
                                        <option value="Vert">Vert</option>
                                        <option value="Orange">Orange</option>
                                        <option value="Rouge">Rouge</option>
                                        <option value="A l'arrêt">A l'arrêt</option>
                                        <option value="Innaccessible">Inaccessible</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="carnetEntretien" class="form-label">Présence carnet d'entretien</label>
                                    <input type="text" id="modal_carnetEntretien" class="form-control" placeholder="" value="" name="carnetentretien" />
                                </div>
                                <div class="col-md-6">
                                    <label for="statutConformite" class="form-label">Statut conformité</label>
                                    <input type="text" id="modal_statutConformite" class="form-control" placeholder="" value="" name="statutconformite" />
                                </div>
                                
                                <button type="submit" id="saveEquipmentFromModal" class="btn btn-primary" name="saveEquipmentFromModal">Enregistrer</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {# Conteneur pour la table des équipements (sera mis à jour par AJAX) #}
        <div id="equipment-table-container">
            {% include 'components/equipment_table.html.twig' with {'clientSelectedEquipmentsFiltered': clientSelectedEquipmentsFiltered, 'clientSelectedEquipmentsFilteredAuContrat': clientSelectedEquipmentsFilteredAuContrat, 'clientSelectedEquipmentsFilteredHorsContrat': clientSelectedEquipmentsFilteredHorsContrat} %}
        </div>
        {% else %}
            <header class="header">
                <h1>Merci de vous connecter avant de pouvoir accéder à l'application</h1>
            </header>
            <nav class="navbar bg-body-tertiary">
                <div class="container">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{{ path('app_login') }}" class="navbar-brand" >
                                <i class="fa-solid fa-user"></i>Se Connecter
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
    {% endif %}
    <script>
    console.log('=== DEBUG INFORMATIONS ===');
    console.log('User Agencies:', '{{ userAgencies|default([])|json_encode|raw }}');
    console.log('Agence Selected:', '{{ agenceSelected|default("") }}');
    console.log('Client Selected:', '{{ clientSelected|default("") }}');
    console.log('ID Client Selected:', '{{ idClientSelected|default("") }}'); // ← LA VARIABLE QUI CONTIENT L'ID !
    console.log('Request Method:', '{{ app.request.method }}'); 

    // ===== VARIABLES GLOBALES SIMPLES =====
    let currentClientInfo = {
        nom: '{{ clientSelected|default("") }}', // Nom du client depuis Twig
        email: '',
        id_contact: '{{ idClientSelected|default("") }}' // ID du client depuis Twig
    };

    // ===== FONCTION SIMPLE POUR RÉCUPÉRER L'EMAIL =====
    async function fetchClientInfo() {
        const agence = '{{ agenceSelected|default("") }}';
        const clientId = '{{ idClientSelected|default("") }}'; // ← UTILISER idClientSelected !
        
        console.log('🔍 Récupération email pour:', { agence, clientId });
        
        if (!agence || !clientId) {
            console.warn('⚠️ Agence ou client ID manquant');
            return;
        }
        
        try {
            const url = `/api/client-info/${agence}/${clientId}`;
            console.log('📡 Appel API:', url);
            
            const response = await fetch(url);
            const data = await response.json();
            
            console.log('📊 Réponse API:', data);
            
            if (data.success && data.client && data.client.email) {
                currentClientInfo.email = data.client.email;
                console.log('✅ Email récupéré:', currentClientInfo.email);
            } else {
                console.warn('⚠️ Pas d\'email trouvé dans la réponse API');
            }
        } catch (error) {
            console.error('❌ Erreur récupération email:', error);
        }
    }

    // ===== FONCTION POUR AFFICHER LA MODAL EMAIL =====
    function showEmailModal() {
        const anneeSelect = document.getElementById('clientAnneeFilter');
        const visiteSelect = document.getElementById('clientVisiteFilter');
        const anneeValue = anneeSelect ? anneeSelect.value : new Date().getFullYear();
        const visiteValue = visiteSelect ? visiteSelect.value : 'CEA';
        
        console.log('🔧 Ouverture modal avec infos:', currentClientInfo);
        
        // Créer la modal
        const modalHtml = `
            <div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title" id="emailModalLabel">
                                <i class="fa-solid fa-envelope"></i> Envoyer le PDF par email
                            </h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="emailForm">
                                <div class="mb-3">
                                    <label for="clientEmailInput" class="form-label">
                                        <i class="fa-solid fa-at"></i> Email du client *
                                    </label>
                                    <input type="email" 
                                           class="form-control" 
                                           id="clientEmailInput" 
                                           value="${currentClientInfo.email || ''}" 
                                           placeholder="client@exemple.fr" 
                                           required>
                                    <div class="form-text">L'email où envoyer le lien de téléchargement sécurisé</div>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="clientNameInput" class="form-label">
                                        <i class="fa-solid fa-user"></i> Nom du client
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           id="clientNameInput" 
                                           value="${currentClientInfo.nom || ''}" 
                                           placeholder="Nom du client (optionnel)">
                                </div>
                                
                                <div class="mb-3">
                                    <label for="customMessageInput" class="form-label">
                                        <i class="fa-solid fa-message"></i> Message personnalisé
                                    </label>
                                    <textarea class="form-control" 
                                              id="customMessageInput" 
                                              rows="3" 
                                              placeholder="Message personnalisé à ajouter dans l'email (optionnel)"></textarea>
                                </div>
                                
                                <div class="alert alert-info">
                                    <h6><i class="fa-solid fa-info-circle"></i> Détails du rapport</h6>
                                    <ul class="mb-0">
                                        <li><strong>Année :</strong> ${anneeValue}</li>
                                        <li><strong>Type de visite :</strong> ${visiteValue}</li>
                                        <li><strong>Client :</strong> ${currentClientInfo.nom}</li>
                                    </ul>
                                </div>
                                
                                <div class="alert alert-warning">
                                    <small>
                                        <i class="fa-solid fa-shield-alt"></i> 
                                        <strong>Le client recevra un lien sécurisé valable 30 jours pour télécharger son rapport PDF.</strong>
                                    </small>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <i class="fa-solid fa-times"></i> Annuler
                            </button>
                            <button type="button" class="btn btn-success" id="sendEmailBtn">
                                <i class="fa-solid fa-paper-plane"></i> Envoyer l'email
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        `;
        
        // Supprimer l'ancienne modal
        const existingModal = document.getElementById('emailModal');
        if (existingModal) {
            existingModal.remove();
        }
        
        // Ajouter la nouvelle modal
        document.body.insertAdjacentHTML('beforeend', modalHtml);
        
        // Afficher la modal
        const modal = new bootstrap.Modal(document.getElementById('emailModal'));
        modal.show();
        
        // Ajouter l'événement d'envoi
        document.getElementById('sendEmailBtn').addEventListener('click', sendPdfByEmail);
    }

    // ===== FONCTION SIMPLE POUR ENVOYER L'EMAIL =====
    async function sendPdfByEmail() {
        const emailInput = document.getElementById('clientEmailInput');
        const nameInput = document.getElementById('clientNameInput');
        const messageInput = document.getElementById('customMessageInput');
        const sendBtn = document.getElementById('sendEmailBtn');
        
        const clientEmail = emailInput.value.trim();
        const clientName = nameInput.value.trim();
        const customMessage = messageInput.value.trim();
        
        if (!clientEmail) {
            alert('Veuillez saisir un email valide');
            emailInput.focus();
            return;
        }
        
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(clientEmail)) {
            alert('Format d\'email invalide');
            emailInput.focus();
            return;
        }
        
        sendBtn.disabled = true;
        sendBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin"></i> Envoi en cours...';
        
        try {
            const agence = '{{ agenceSelected|default("") }}';
            const clientId = '{{ idClientSelected|default("") }}'; // ← UTILISER idClientSelected !
            
            console.log('📤 Envoi pour:', { agence, clientId, clientEmail });
            
            const anneeSelect = document.getElementById('clientAnneeFilter');
            const visiteSelect = document.getElementById('clientVisiteFilter');
            const anneeValue = anneeSelect ? anneeSelect.value : new Date().getFullYear();
            const visiteValue = visiteSelect ? visiteSelect.value : 'CEA';
            
            const formData = new FormData();
            formData.append('client_email', clientEmail);
            formData.append('client_name', clientName || currentClientInfo.nom);
            formData.append('annee', anneeValue);
            formData.append('visite', visiteValue);
            formData.append('custom_message', customMessage);
            
            const response = await fetch(`/client/equipements/send-email/${agence}/${clientId}`, {
                method: 'POST',
                body: formData
            });
            
            console.log('📨 Statut:', response.status);
            
            if (!response.ok) {
                const errorText = await response.text();
                throw new Error(`Erreur ${response.status}: ${errorText}`);
            }
            
            const result = await response.json();
            console.log('📊 Résultat:', result);
            
            if (result.success) {
                alert('✅ Email envoyé avec succès !');
                const modal = bootstrap.Modal.getInstance(document.getElementById('emailModal'));
                modal.hide();
            } else {
                alert('❌ Erreur : ' + (result.message || result.error || 'Erreur inconnue'));
            }
            
        } catch (error) {
            console.error('❌ Erreur:', error);
            alert('❌ Erreur : ' + error.message);
        } finally {
            sendBtn.disabled = false;
            sendBtn.innerHTML = '<i class="fa-solid fa-paper-plane"></i> Envoyer l\'email';
        }
    }

    // ===== FONCTION POUR LE BOUTON PDF =====
    function updatePdfButton() {
        const pdfButton = document.getElementById('pdf-button');
        if (!pdfButton) return;
        
        const baseUrl = pdfButton.href.split('?')[0];
        const url = new URL(baseUrl);
        
        const anneeSelect = document.getElementById('clientAnneeFilter');
        const visiteSelect = document.getElementById('clientVisiteFilter');
        const anneeValue = anneeSelect ? anneeSelect.value : '';
        const visiteValue = visiteSelect ? visiteSelect.value : '';
        
        if (anneeValue) url.searchParams.set('clientAnneeFilter', anneeValue);
        if (visiteValue) url.searchParams.set('clientVisiteFilter', visiteValue);
        
        pdfButton.href = url.toString();
        
        const buttonSmall = pdfButton.querySelector('small');
        if (anneeValue || visiteValue) {
            const filterText = (anneeValue ? anneeValue : '') + (anneeValue && visiteValue ? ' - ' : '') + (visiteValue ? visiteValue : '');
            
            if (buttonSmall) {
                buttonSmall.textContent = '(' + filterText + ')';
            } else {
                const smallElement = document.createElement('small');
                smallElement.className = 'd-block';
                smallElement.textContent = '(' + filterText + ')';
                pdfButton.appendChild(smallElement);
            }
        } else if (buttonSmall) {
            buttonSmall.textContent = '';
        }

        addEmailButtonIfNeeded();
    }

    // ===== AJOUTER LE BOUTON EMAIL =====
    function addEmailButtonIfNeeded() {
        const pdfButton = document.getElementById('pdf-button');
        const pdfContainer = pdfButton ? pdfButton.parentElement : null;
        if (!pdfContainer || pdfContainer.querySelector('#email-button')) return;
        
        const emailButton = document.createElement('button');
        emailButton.id = 'email-button';
        emailButton.className = 'btn btn-primary btn-lg ms-2';
        emailButton.innerHTML = '<i class="fa-solid fa-envelope"></i> Envoyer par email';
        emailButton.style.marginTop = '10px';
        emailButton.addEventListener('click', showEmailModal);
        
        pdfButton.parentNode.insertBefore(emailButton, pdfButton.nextSibling);
    }

    // ===== INITIALISATION =====
    $(document).ready(function() {
        console.log('🚀 Initialisation simple');
        
        // Récupérer l'email du client
        fetchClientInfo();
        
        const anneeSelect = document.getElementById('clientAnneeFilter');
        const visiteSelect = document.getElementById('clientVisiteFilter');
        
        if (anneeSelect) {
            anneeSelect.addEventListener('change', updatePdfButton);
        }
        if (visiteSelect) {
            visiteSelect.addEventListener('change', updatePdfButton);
        }
        
        updatePdfButton();
        
        // AJAX pour les filtres (code existant)
        $('#filterForm').on('submit', function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            
            $.ajax({
                url: '/ajax/filter-equipment',
                type: 'GET',
                data: formData,
                success: function(response) {
                    $('#equipment-table-container').html(response);
                    if (typeof $('#table').bootstrapTable === 'function') {
                        $('#table').bootstrapTable();
                    }
                    updatePdfButton();
                },
                error: function(xhr) {
                    console.error('Erreur AJAX:', xhr.responseText);
                    alert('Erreur lors du filtrage des équipements');
                }
            });
        });
        
        console.log('✅ Initialisation terminée');
    });
</script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('=== INITIALIZATION PDF ENHANCED ===');
            
            // Pré-remplir l'email client s'il est disponible dans les données
            const clientEmail = document.getElementById('current-client-email')?.value;
            const clientName = document.getElementById('current-client-name')?.value;
            
            // Ajouter un event listener pour pré-remplir le modal d'email
            document.addEventListener('emailModalOpened', function() {
                if (clientEmail && document.getElementById('clientEmail')) {
                    document.getElementById('clientEmail').value = clientEmail;
                }
                if (clientName && document.getElementById('clientName')) {
                    document.getElementById('clientName').value = clientName;
                }
            });
            
            // Gestion des filtres pour le bouton PDF
            const anneeSelect = document.getElementById('clientAnneeFilter');
            const visiteSelect = document.getElementById('clientVisiteFilter');
            
            function updatePdfButton() {
                const pdfButton = document.getElementById('pdf-button');
                if (!pdfButton) return;
                
                const baseUrl = pdfButton.href.split('?')[0];
                const url = new URL(baseUrl);
                
                const anneeValue = anneeSelect ? anneeSelect.value : '';
                const visiteValue = visiteSelect ? visiteSelect.value : '';
                
                if (anneeValue) {
                    url.searchParams.set('clientAnneeFilter', anneeValue);
                }
                if (visiteValue) {
                    url.searchParams.set('clientVisiteFilter', visiteValue);
                }
                
                pdfButton.href = url.toString();
                
                // Mettre à jour le texte du bouton pour afficher les filtres
                const buttonSmall = pdfButton.querySelector('small');
                if (anneeValue || visiteValue) {
                    let filterText = '';
                    if (anneeValue) filterText += anneeValue;
                    if (visiteValue) filterText += (filterText ? ' - ' : '') + visiteValue;
                    
                    if (buttonSmall) {
                        buttonSmall.textContent = '(' + filterText + ')';
                    } else {
                        const smallElement = document.createElement('small');
                        smallElement.className = 'd-block';
                        smallElement.textContent = '(' + filterText + ')';
                        pdfButton.appendChild(smallElement);
                    }
                } else if (buttonSmall) {
                    buttonSmall.textContent = '';
                }
            }
            
            // Écouter les changements sur les sélecteurs
            if (anneeSelect) {
                anneeSelect.addEventListener('change', updatePdfButton);
            }
            if (visiteSelect) {
                visiteSelect.addEventListener('change', updatePdfButton);
            }
            
            // Mettre à jour au chargement initial
            updatePdfButton();
            
            // Intercepter la soumission du formulaire de filtres
            $('#filterForm').on('submit', function(e) {
                e.preventDefault();
                
                // Récupérer les données du formulaire
                var formData = $(this).serialize();
                
                // Envoyer la requête AJAX
                $.ajax({
                    url: '/ajax/filter-equipment',
                    type: 'GET',
                    data: formData,
                    success: function(response) {
                        // Mettre à jour le conteneur du tableau
                        $('#equipment-table-container').html(response);
                        // Réinitialiser Bootstrap Table si elle existe
                        if (typeof $('#table').bootstrapTable === 'function') {
                            $('#table').bootstrapTable();
                        }
                        // Mettre à jour le bouton PDF après le filtrage AJAX
                        updatePdfButton();
                    },
                    error: function(xhr) {
                        console.error('Erreur lors du chargement des données:', xhr.responseText);
                        alert('Erreur lors du filtrage des équipements');
                    }
                });
            });
        });
    </script>
{% endblock %}
