{% extends 'base.html.twig' %}

{% block title %}
    Parc Équipements Clients Somafi
{% endblock %}
{% block stylesheets %}
    <!-- our project just needs Font Awesome Solid + Brands it's FREE icons-->
    <link href="{{ asset('fontawesome/css/fontawesome.min.css')}}" rel="stylesheet" />
    <link href="{{ asset('fontawesome/css/brands.min.css')}}" rel="stylesheet" />
    <link href="{{ asset('fontawesome/css/solid.min.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
{% block importmap %}{{ importmap('app') }}
    <script src="{{ asset('js/filtrerVisite.js') }}"></script>
    <script src="{{ asset('js/filtrerLibelle.js') }}"></script>
    <script src="{{ asset('js/filtrerStatutDeMaintenance.js') }}"></script>
    <script src="{{ asset('js/filterFunction.js') }}"></script>
    <script src="{{ asset('js/editEquipmentInModal.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}
{% endblock %}
{% block body %}
<style>
    body{
        background-color: rgb(6, 22, 37);
        color: white;
        padding: 80px;
        /* background-color: #96C2DB;
        color: rgb(43, 46, 45); */
    }
    header{
        font-size: 24px;
        text-align: center;
        margin-top: -30px;
    }
    nav{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 92vw;
    }
    .navbar-brand i {
        margin: 10px;
        font-size: xx-large;
    }
    /*Sélection agence et client*/
    .selections-container{
        width: 94vw;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .form-control {
        display: block;
        width: 75%;
    }
    input.form-control-client {
        width: 20%;
    }
    /* CLIENTS */
    .selection-client{
        margin-bottom: 30px;
    }
    .selection-client-container{
        width: 100vw;
        margin-left: 30px;
    }
    .selection-client-label{
        margin-right: 30px;
        font-size: 18px;
    }
    #client-sous-contrat-select, #agence-somafi{
        width: 385px;
        margin-top: 12px;
        margin-bottom: 15px;
    }

    /* AGENCES */
    .selection-agence{
        margin-bottom: 20px;
    }
    .selection-agence-label{
        margin-right: 30px;
        font-size: 18px;
    }
    #agence-sous-contrat-select{
        width: 250px;
        margin-left: 36px;
    }
    
    /*Infos client*/
    .client-infos{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .entete-client-infos{
        height: 25%;
        display: flex;
    }
    .infos-nombre-equipements h3, .infos-contrat h3{
        text-align: center;
    }
    .client-infos-nombre{
        font-size: 30px;
        text-align: center;
    }
    .card-body{
        height: 219px;
    }
    .card-title{
        text-align: center;
    }
    span{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .btn i{
        margin: 5px;
    }

    /*Table équipements client*/
    th{
        font-size: 22px;
        text-align: center;
        margin-bottom: 3px;
    }
    thead th{
        position: sticky;
        top: 0;
        background-color: rgb(6, 22, 37);
    }
    td{
        border: 1px solid black;
        width: 20rem;
        height: 2rem;
        margin: 5px;
        text-align: center;
        font-size: 20px;
        color: black;
    }
    /* Couleurs des td selon statut de maintenance */
    .bkg_vert{
        width: 4rem;
        background-color: green;
        color: white;
        font-weight: bold;
    }
    .bkg_orange{
        width: 4rem;
        background-color: orange;
        color: white;
        font-weight: bold;
    }
    .bkg_rouge{
        width: 4rem;
        background-color: red;
        color: white;
        font-weight: bold;
    }
    .bkg_arret{
        width: 4rem;
        background-color: black;
        color: white;
        font-weight: bold;
    }
    .bkg_inaccessible{
        width: 4rem;
        background-color: yellow;
        font-weight: bold;
    }
    /* Couleurs des TR selon la visite */
    .bkg_row_visite_1{
        background-color: lightgray;
    }
    .bkg_row_visite_2{
        background-color: lightblue;
    }
    .bkg_row_visite_3{
        background-color: lightseagreen;
    }
    .bkg_row_visite_4{
        background-color: lightsalmon;
    }
    .bkg_row_visite_A{
        background-color: lightyellow;
    }

    /*Filtres de la table*/
    .filters-table{
        display: flex;
        width: 60%;
        justify-content: space-around;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        margin: auto;
        margin-bottom: 30px;
        margin-top: 35px;
        border: 2px solid grey;
    }
    .filters-table h3{
        margin-top: 70px;
        font-size: 30px;
        color: black;
    }
    #filtre-trigramme, #filtre-visite, #filtre-statutdemaintenance{
        display: flex;
        flex-direction: column;
        width: 150px;
        align-items: center;
        background-color: rgba(63, 58, 58, 0.6);
        padding: 10px;
        border: 4px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #filtre-trigramme label, #filtre-visite label, #filtre-statutdemaintenance label{
        font-size: 20px;
        color: black;
    }
    .select_libelle, .select_visite, .select_statutdemaintenance{
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #filtre-visite .btn.btn-danger, #filtre-statutdemaintenance .btn.btn-danger, #filtre-trigramme .btn.btn-danger {
        font-size: 10px;
        margin-left: 110px;
        margin-top: -10px;
    }
    #statutdemaintenance-dropdown{
        width: 110px;
    }

    /* MODAL */
    .modal{
        color: black;
        --bs-modal-width: 30%;
    }
    .modal label{
        margin-top: 15px;
    }
    textarea {
        resize: none;
        height: 100px;
    }
    .modal .form_control{
        width: 75%;
    }
    .modal .btn-primary{
        margin-top: 30px;
    }

</style>

{% block header %}
<header class="header">
    <h1>Parc Équipements Clients Somafi</h1>
</header>
{% endblock %}
<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-house"> </i>Accueil
      </a>
      <span class="navbar-brand" onclick='window.location.reload(false)'>
        <i class="fa-solid fa-rotate"></i>Recharger la page
      </span>
    </div>
</nav>
{% block clientsInformations %}
<div class="selections-container">
    <div class="selection-client" >
        <!-- N'apparait que si le client n'est pas sélectionné et que l'agence n'est pas sélectionnée -->
        {% if agenceSelected == NULL %}
            <div>
                <h2><span class="number"> 1 - </span>Sélectionnez votre agence</h2>
                <form action="" method="post">
                    <select class="form-control" id="agence-somafi" name="agenceName">
                        <option value = "" selected> Select agence </option> 
                        {% for agence in agenciesArray %}
                            <option  value="{{ agence.getCode() }}" id="agence_selected">{{ agence.getAgence() }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit"  name ="submitAgence" class="btn btn-primary">Select Agence</button>
                </form>
            </div>
        {% endif %}
        <!-- N'apparait que si l'agence est sélectionnée -->
        {% if agenceSelected and clientSelectedInformations == NULL %}
            <div>
                <h2><span class="number"> 2 - </span>Sélectionnez maintenant votre client</h2>
                <h3>Agence de rattachement : {{ agenceSelected }}</h3>
                <label class="selection-client-label" for="client-select">Client sous contrat</label>
                <form action="" method="post">
                    <input type="text" class="form-control form-control-client" placeholder="Search.." id="myInput" onkeyup="filterFunction()" >
                    <select class="form-control" id="client-sous-contrat-select" name="clientName" onFocus="expand(this)" onBlur="unexpand(this)">
                        <option value = "" selected> Select client </option> 
                        {% if agenceSelected == "Grenoble" or agenceSelected == "grenoble" or agenceSelected == "Gre"  or agenceSelected == "gre"   or agenceSelected == "S50"  or agenceSelected == "s50" %}
                            {% for client in clientsGrenoble%}
                                <option value="{{ client }} {{ agenceSelected }}" id="client_selected_s50">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Montpellier" or agenceSelected == "montpellier" or agenceSelected == "montp"  or agenceSelected == "mon"   or agenceSelected == "S100"   or agenceSelected == "s100"%}
                            {% for client in clientsMontpellier%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s100">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "ParisNord" or agenceSelected == "paris nord" or agenceSelected == "paris"  or agenceSelected == "S80"  or agenceSelected == "s80" %}
                            {% for client in clientsParisNord%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s80">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Group" or agenceSelected == "group" or agenceSelected == "grou"  or agenceSelected == "S10"   or agenceSelected == "s10"%}
                            {% for client in clientsGroup%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s10">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "St Etienne" or agenceSelected == "st etienne" or agenceSelected == "stetienne"  or agenceSelected == "S40"   or agenceSelected == "s40"%}
                            {% for client in clientsStEtienne%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s40">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Lyon" or agenceSelected == "lyon" or agenceSelected == "ly"  or agenceSelected == "S60"  or agenceSelected == "s60" %}
                            {% for client in clientsLyon%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s60">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Bordeaux" or agenceSelected == "bordeaux" or agenceSelected == "bor"  or agenceSelected == "S70"   or agenceSelected == "s70"%}
                            {% for client in clientsBordeaux%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s70">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "HautsDeFrance" or agenceSelected == "Portland" or agenceSelected == "portland" or agenceSelected == "hdf"   or agenceSelected == "S120"   or agenceSelected == "s120"%}
                            {% for client in clientsHautsDeFrance%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s120">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Toulouse" or agenceSelected == "toulouse" or agenceSelected == "tou"  or agenceSelected == "S130"   or agenceSelected == "s130"%}
                            {% for client in clientsToulouse%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s130">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "SMP" or agenceSelected == "Epinal" or agenceSelected == "epinal"  or agenceSelected == "smp"  or agenceSelected == "S140"   or agenceSelected == "s140"%}
                            {% for client in clientsEpinal%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s140">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Paca" or agenceSelected == "PACA" or agenceSelected == "brignoles" or agenceSelected == "Brignoles"   or agenceSelected == "S150"   or agenceSelected == "s150"%}
                            {% for client in clientsPaca%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s150">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Rouen" or agenceSelected == "rouen" or agenceSelected == "rou"  or agenceSelected == "S160"   or agenceSelected == "s160"%}
                            {% for client in clientsRouen%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s160">{{ client }}</option>
                            {% endfor %}
                        {% elseif agenceSelected == "Rennes" or agenceSelected == "rennes" or agenceSelected == "ren"  or agenceSelected == "S170"   or agenceSelected == "s170"%}
                            {% for client in clientsRennes%}
                                <option  value="{{ client }} {{ agenceSelected }}" id="client_selected_s170">{{ client }}</option>
                            {% endfor %}
                        {% else %}
                            <option value=""></option>
                        {% endif %}
                    </select>
                    <button type="submit"  name ="submitClient" class="btn btn-primary">Select Client</button>
                </form> 
            </div>
        {% endif %}
    </div>
</div>
{% if clientSelectedInformations != NULL  %}
    <div class="row">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Adresse</h4>
                    <span></span>
                    <span class="card-text"><b>{{ clientSelectedInformations.getRaisonSociale() }}</b></span><br>
                    <span class="card-text">{{ clientSelectedInformations.getAdressep1() }} </span><br>
                    <span class="card-text">{{ clientSelectedInformations.getCpostalp() }} </span><br>
                    <span class="card-text">{{ clientSelectedInformations.getVillep() }} </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Infos client</h4>
                    <span class="card-text"><b>Id client</b> : {{ clientSelectedInformations.getIdContact() }} </span><br>
                    <span class="card-text"><b>Id société</b> : {{ clientSelectedInformations.getIdSociete() }}</span><br>
                    <span class="card-text"><b>Agence</b> : {{ agenceSelected }}</span><br>
                    <span class="card-text"><b>Téléphone</b> : {{ clientSelectedInformations.getTelephone() }} </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Date de fin de contrat</h4>
                    <br>
                    <br>
                    <p class="client-infos-nombre">N/C</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nombre d'équipements</h4>
                    <br>
                    <br>
                    <p class="client-infos-nombre">{{ totalClientSelectedEquipmentsFiltered }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card downloadPdf">
                <div class="card-body">
                    <h4 class="card-title">Compte-rendu</h4>
                    <ul>
                        {% for file in directoriesLists %}
                        <li><a href="{{ asset('public/assets/pdf/maintenance/S50/'~clientSelected~'/2024/'~visiteDuClient~'/'~file) }}">{{ file }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{%endif%}
{% endblock %}
{% block modal %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class=" fa-solid fa-pen-to-square"></i> Édition de l'équipement</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/save/modal/equipement" method="post" class="row g-12">
                    <input type="hidden" class="form-control" id="modal_libelle" value="" name="libelle" />
                    <input type="hidden" class="form-control" id="modal_idContact" value="" name="idContact" />
                    <input type="hidden" class="form-control" id="modal_idSociete" value="" name="idSociete" />
                    <input type="hidden" class="form-control" id="modal_anomalies" value="" name="anomalies" />
                    <input type="hidden" class="form-control" id="modal_trigrammeTech" value="" name="trigrammeTech" />
                    <input type="hidden" class="form-control" id="modal_signatureTech" value="" name="signatureTech" />
                    <input type="hidden" class="form-control" id="modal_ifExistDB" value="" name="ifExistDB" />
                    <input type="hidden" class="form-control" id="modal_hauteurNacelle" value="" name="hauteurNacelle" />
                    <input type="hidden" class="form-control" id="modal_modeleNacelle" value="" name="modeleNacelle" />
                    <input type="hidden" class="form-control" id="modal_raisonSociale" value="" name="raisonSociale" />
                    <input type="hidden" class="form-control" id="modal_visite" value="" name="visite" />
                    <input type="hidden" class="form-control" id="modal_id" value="" name="id" />
                    <div class="col-md-12">
                        <h3>Personne modifiant l'équipement</h3>
                        <div class="col-md-6">
                            <label for="nom" class="form-label">Votre nom</label>
                            <input type="text" class="form-control" id="modal_nom" value="" name="nom" />
                        </div>
                        <div class="col-md-6">
                            <label for="prenom" class="form-label">Votre prénom</label>
                            <input type="text" class="form-control" id="modal_prenom" value="" name="prenom" />
                        </div>
                    </div>
                    <div class="col-md-6">
                      <label for="trigramme" class="form-label">Équipement cible</label>
                      <input type="text" class="form-control" id="modal_trigramme" value="" name="trigramme" />
                      <label for="codeAgence" class="form-label">Code Agence</label>
                      <input type="text" class="form-control" id="modal_codeAgence" value="" name="codeAgence" />
                    </div>
                    <div class="col-md-6">
                      <label for="modeFonctionnement" class="form-label">Mode de fonctionnement</label>
                      <input type="text" class="form-control" id="modal_modeFonctionnement" value="" name="modefonctionnement" />
                    </div>
                    <div class="col-md-6">
                      <label for="repereCiteClient" class="form-label">Repère site client</label>
                      <input type="text" id="modal_repereSiteClient" class="form-control" value="" name="reperesiteclient" />
                    </div>
                    <div class="col-md-6">
                      <label for="miseEnService" class="form-label">Mise en service</label>
                      <input type="text" id="modal_miseEnService" class="form-control" value="" name="miseenservice" />
                    </div>
                    <div class="col-md-6">
                      <label for="numeroDeSerie" class="form-label">Numéro de série</label>
                      <input type="text" id="modal_numeroDeSerie" class="form-control" value="" name="numerodeserie" />
                    </div>
                    <div class="col-md-6">
                      <label for="marque" class="form-label">Marque</label>
                      <input type="text" id="modal_marque" class="form-control" value="" name="marque" />
                    </div>
                    <div class="col-md-6">
                      <label for="hauteur" class="form-label">Hauteur</label>
                      <input type="text" id="modal_hauteur" class="form-control" value="" name="hauteur" />
                    </div>
                    <div class="col-md-6">
                      <label for="Largeur" class="form-label">Largeur</label>
                      <input type="text" id="modal_largeur" class="form-control" value="" name="largeur" />
                    </div>
                    <div class="col-md-6">
                      <label for="longueur" class="form-label">Longueur</label>
                      <input type="text" id="modal_longueur" class="form-control" value="" name="longueur" />
                    </div>
                    <div class="col-md-12">
                      <label for="plaqueSignaletique" class="form-label">Plaque signalétique</label>
                      <input type="text" id="modal_plaqueSignaletique" class="form-control" value="" name="plaquesignaletique"/>
                    </div>
                    <div class="col-12">
                      <label for="etat" class="form-label">État de l'équipement</label>
                      <textarea id="modal_etat" class="form-control " value="" name="etat" ></textarea>
                    </div>
                    <div class="col-6">
                      <label for="dateDerniereVisite" class="form-label">Dernière visite de maintenance</label>
                      <input type="text" id="modal_derniereVisite"class="form-control" value="" name="dernierevisitedemaintenance" />
                    </div>
                    <div class="col-6">
                        <label for="statut-actuel" class="form-label">Statut actuel de l'équipement</label>
                        <input type="text" id="modal_statut" class="form-control" value="" name="oldstatut" />
                      </div>
                    <div class="col-6">
                      <label for="statut" class="form-label">Statut de l'équipement</label>
                      <select id="modal_prochain_statut" class="form-select"  name="newstatutclient">
                        <option selected>Choose...</option>
                        <option value="Vert">Vert</option>
                        <option value="Orange">Orange</option>
                        <option value="Rouge">Rouge</option>
                        <option value="A l'arrêt">A l'arrêt</option>
                        <option value="Innaccessible">Inaccessible</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="carnetEntretien" class="form-label">Présence carnet d'entretien</label>
                      <input type="text" id="modal_carnetEntretien" class="form-control" value="" name="carnetentretien" />
                    </div>
                    <div class="col-md-6">
                      <label for="statutConformite" class="form-label">Statut conformité</label>
                      <input type="text" id="modal_statutConformite" class="form-control" value="" name="statutconformite" />
                    </div>
                    
                    <button type="submit" id="saveEquipmentFromModal" class="btn btn-primary" name="saveEquipmentFromModal">Enregistrer</button>
                </form>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block clientEquipements %}
{% if clientSelectedInformations != NULL and clientSelectedEquipmentsFiltered != NULL  %}
<div>

    {# Try add three filters together #}
    <form action="" method="post" class="row row-cols-lg-auto g-3 align-items-center">
        {# Filtre sur les visites #}
        <div id="filtre-visite">
            <button type="button" class="btn btn-danger" onClick="resetVisite()">X</button>
            <label for="choix-visite">Visite</label>
            <select id="visit-dropdown" name="visit-dropdown" class="select_visite form-select">
                <option class="select_visite_option" value="Tous" selected>Tous</option>
                <option class="select_visite_option" data-visite="CE1" value="CE1">CE1</option>
                <option class="select_visite_option" data-visite="CE2" value="CE2">CE2</option>
                <option class="select_visite_option" data-visite="CE3" value="CE3">CE3</option>
                <option class="select_visite_option" data-visite="CE4" value="CE4">CE4</option>
                <option class="select_visite_option" data-visite="CEA" value="CEA">CEA</option>
            </select>
        </div>
        {# Filtre sur les libelles equipements #}
        <div id="filtre-trigramme">
            <button type="button" class="btn btn-danger" onClick="resetLibelle()">X</button>
            <label for="choix-libelle">Trigramme</label>
            <select id="libelle-dropdown" name="libelle-dropdown"  class="select_libelle form-select" size="1">
                <option class="select_visite_option" data-visite="CE1" value="Tous" selected>Tous</option>
                <option class="select_libelle_option" data-libelle="SEC" value="SEC" title="Porte sectionnelle">SEC</option>
                <option class="select_libelle_option" data-libelle="RAP" value="RAP" title="Porte rapide">RAP</option>
                <option class="select_libelle_option" data-libelle="RID" value="RID" title="Rideau">RID</option>
                <option class="select_libelle_option" data-libelle="PEX" value="PEX" title="Portail">PEX</option>
                <option class="select_libelle_option" data-libelle="BLE" value="BLE" title="Barrière levante">BLE</option>
                <option class="select_libelle_option" data-libelle="BLR" value="BLR" title="Bloc roue">BLR</option>
                <option class="select_libelle_option" data-libelle="PPV" value="PPV" title="Porte piétonne vitrée">PPV</option>
                <option class="select_libelle_option" data-libelle="NIV" value="NIV" title="Niveleur">NIV</option>
                <option class="select_libelle_option" data-libelle="PRO" value="PRO" title="Protection">PRO</option>
                <option class="select_libelle_option" data-libelle="TEL" value="TEL" title="Table élevatrice">TEL</option>
            </select>
        </div>
        {# Filtre sur le statut de maintenance #}
        <div class="col-12" id="filtre-statutdemaintenance">
            <button type="button" class="btn btn-danger" onClick="resetStatutDeMaintenance()">X</button>
            <label for="choix-statutdemaintenance">Statut</label>
            <select id="statutdemaintenance-dropdown" name="statutdemaintenance-dropdown"  class="select_statutdemaintenance form-select" size="1">
                <option class="select_visite_option" data-visite="CE1" value="Tous" selected>Tous</option>
                <option class="select_statutdemaintenance_option" data-statut="Vert" value="Vert" >Vert</option>
                <option class="select_statutdemaintenance_option" data-statut="Orange" value="Orange" >Orange</option>
                <option class="select_statutdemaintenance_option" data-statut="Rouge" value="Rouge" >Rouge</option>
                <option class="select_statutdemaintenance_option" data-statut="A l'arrêt" value="A l'arrêt" >A l'arrêt</option>
                <option class="select_statutdemaintenance_option" data-statut="Inaccessible" value="Inaccessible" >Inaccessible</option>
            </select>
        </div>
      
        <div class="col-12">
          <button type="submit" class="btn btn-primary" name="filtersSubmit">Submit</button>
        </div>
   

        <table name="hiddenname" class="table-equipement-client  table-bordered">
            <thead>
                <tr class="sticky">
                    <th>Visite</th>
                    <th>Trigramme interne</th>
                    <th>Libelle</th>
                    <th>Dernière visite</th>
                    <th>Repère site client</th>
                    <th>Mise en service</th>
                    <th>Numéro de série</th>
                    <th>Marque</th>
                    <th>Hauteur</th>
                    <th>Largeur</th>
                    <th>Longueur</th>
                    <th>Date d'enregistrement</th>
                    <th>État</th>
                    <th>Statut de Maintenance</th>
                    <th>Options</th>
                </tr>
            </thead>
        {% for equipment in clientSelectedEquipmentsFiltered %}
            <tbody>
                {% if equipment.visite == "CE1" %}
                    <tr class="bkg_row_visite_1" id="{{ equipment.getId() }}" data-visite="{{ equipment.getVisite() }}" data-libelle="{{ equipment.getLibelleEquipement() }}" data-statut="{{ equipment.getStatutDeMaintenance() }}">
                        <td>{{ equipment.getVisite() }}</td>
                        <td>{{ equipment.getNumeroEquipement() }}</td>
                        <td>{{ equipment.getLibelleEquipement() }}</td>
                        <td>{{ equipment.getDerniereVisite() }}</td>
                        <td>{{ equipment.getRepereSiteClient() }}</td>
                        <td>{{ equipment.getMiseEnService() }}</td>
                        <td>{{ equipment.getNumeroDeSerie() }}</td>
                        <td>{{ equipment.getMarque() }}</td>
                        <td>{{ equipment.getHauteur() }}</td>
                        <td>{{ equipment.getLargeur() }}</td>
                        <td>{{ equipment.getLongueur() }}</td>
                        <td>{{ equipment.getDateEnregistrement() }}</td>
                        <td>{{ equipment.getEtat() }}</td>
                        {%if equipment.statutDeMaintenance == "Vert" %}
                            <td class="bkg_vert">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Orange" %}
                            <td class="bkg_orange">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Rouge" %}
                            <td class="bkg_rouge">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "A l'arrêt" %}
                            <td class="bkg_arret">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Inaccessible" %}
                            <td class="bkg_inaccessible">{{ equipment.getStatutDeMaintenance() }}</td>
                        {% endif %}
                        <td><button onclick="editEquipement(
                            '{{ equipment.getId() }}',
                            '{{ equipment.getLibelleEquipement() }}',
                            '{{ equipment.getVisite() }}',
                            '{{ equipment.getRaisonSociale() }}',
                            '{{ equipment.getModeleNacelle() }}',
                            '{{ equipment.getHauteurNacelle() }}',
                            '{{ equipment.getIfExistDB() }}',
                            '{{ equipment.getSignatureTech() }}',
                            '{{ equipment.getTrigrammeTech() }}',
                            '{{ equipment.getAnomalies() }}',
                            '{{ equipment.getIdContact() }}',
                            '{{ equipment.getCodeSociete() }}',
                            '{{ equipment.getCodeAgence() }}',
                            '{{ equipment.getNumeroEquipement() }}',
                            '{{ equipment.getModeFonctionnement() }}',
                            '{{ equipment.getRepereSiteClient() }}',
                            '{{ equipment.getMiseEnService() }}',
                            '{{ equipment.getNumeroDeSerie() }}',
                            '{{ equipment.getMarque() }}',
                            '{{ equipment.getHauteur() }}',
                            '{{ equipment.getLargeur() }}',
                            '{{ equipment.getLongueur() }}',
                            '{{ equipment.getPlaqueSignaletique() }}',
                            '{{ equipment.getEtat() }}',
                            '{{ equipment.getDerniereVisite() }}',
                            '{{ equipment.getStatutDeMaintenance() }}',
                            '{{ equipment.getPresenceCarnetEntretien() }}',
                            '{{ equipment.getStatutConformite() }}'
                        )" type="button" class="btn btn-primary edit_equipement" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class=" fa-solid fa-pen-to-square"></i> Edit
                        </button></td>
                    </tr>
                {% elseif  equipment.visite  == "CE2" %}
                    <tr class="bkg_row_visite_2" id="{{ equipment.getId() }}" data-visite="{{ equipment.getVisite() }}" data-libelle="{{ equipment.getLibelleEquipement() }}" data-statut="{{ equipment.getStatutDeMaintenance() }}">
                        <td>{{ equipment.getVisite() }}</td>
                        <td>{{ equipment.getNumeroEquipement() }}</td>
                        <td>{{ equipment.getLibelleEquipement() }}</td>
                        <td>{{ equipment.getDerniereVisite() }}</td>
                        <td>{{ equipment.getRepereSiteClient() }}</td>
                        <td>{{ equipment.getMiseEnService() }}</td>
                        <td>{{ equipment.getNumeroDeSerie() }}</td>
                        <td>{{ equipment.getMarque() }}</td>
                        <td>{{ equipment.getHauteur() }}</td>
                        <td>{{ equipment.getLargeur() }}</td>
                        <td>{{ equipment.getLongueur() }}</td>
                        <td>{{ equipment.getDateEnregistrement() }}</td>
                        <td>{{ equipment.getEtat() }}</td>
                        {%if equipment.statutDeMaintenance == "Vert" %}
                            <td class="bkg_vert">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Orange" %}
                            <td class="bkg_orange">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Rouge" %}
                            <td class="bkg_rouge">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "A l'arrêt" %}
                            <td class="bkg_arret">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Inaccessible" %}
                            <td class="bkg_inaccessible">{{ equipment.getStatutDeMaintenance() }}</td>
                        {% endif %}
                        <td><button onclick="editEquipement(
                            '{{ equipment.getId() }}',
                            '{{ equipment.getLibelleEquipement() }}',
                            '{{ equipment.getVisite() }}',
                            '{{ equipment.getRaisonSociale() }}',
                            '{{ equipment.getModeleNacelle() }}',
                            '{{ equipment.getHauteurNacelle() }}',
                            '{{ equipment.getIfExistDB() }}',
                            '{{ equipment.getSignatureTech() }}',
                            '{{ equipment.getTrigrammeTech() }}',
                            '{{ equipment.getAnomalies() }}',
                            '{{ equipment.getIdContact() }}',
                            '{{ equipment.getCodeSociete() }}',
                            '{{ equipment.getCodeAgence() }}',
                            '{{ equipment.getNumeroEquipement() }}',
                            '{{ equipment.getModeFonctionnement() }}',
                            '{{ equipment.getRepereSiteClient() }}',
                            '{{ equipment.getMiseEnService() }}',
                            '{{ equipment.getNumeroDeSerie() }}',
                            '{{ equipment.getMarque() }}',
                            '{{ equipment.getHauteur() }}',
                            '{{ equipment.getLargeur() }}',
                            '{{ equipment.getLongueur() }}',
                            '{{ equipment.getPlaqueSignaletique() }}',
                            '{{ equipment.getEtat() }}',
                            '{{ equipment.getDerniereVisite() }}',
                            '{{ equipment.getStatutDeMaintenance() }}',
                            '{{ equipment.getPresenceCarnetEntretien() }}',
                            '{{ equipment.getStatutConformite() }}'
                        )" type="button" class="btn btn-primary edit_equipement" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class=" fa-solid fa-pen-to-square"></i> Edit
                        </button></td>
                    </tr>
                {% elseif  equipment.visite  == "CE3" %}
                    <tr class="bkg_row_visite_3" id="{{ equipment.getId() }}" data-visite="{{ equipment.getVisite() }}" data-libelle="{{ equipment.getLibelleEquipement() }}" data-statut="{{ equipment.getStatutDeMaintenance() }}">
                        <td>{{ equipment.getVisite() }}</td>
                        <td>{{ equipment.getNumeroEquipement() }}</td>
                        <td>{{ equipment.getLibelleEquipement() }}</td>
                        <td>{{ equipment.getDerniereVisite() }}</td>
                        <td>{{ equipment.getRepereSiteClient() }}</td>
                        <td>{{ equipment.getMiseEnService() }}</td>
                        <td>{{ equipment.getNumeroDeSerie() }}</td>
                        <td>{{ equipment.getMarque() }}</td>
                        <td>{{ equipment.getHauteur() }}</td>
                        <td>{{ equipment.getLargeur() }}</td>
                        <td>{{ equipment.getLongueur() }}</td>
                        <td>{{ equipment.getDateEnregistrement() }}</td>
                        <td>{{ equipment.getEtat() }}</td>
                        {%if equipment.statutDeMaintenance == "Vert" %}
                            <td class="bkg_vert">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Orange" %}
                            <td class="bkg_orange">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Rouge" %}
                            <td class="bkg_rouge">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "A l'arrêt" %}
                            <td class="bkg_arret">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Inaccessible" %}
                            <td class="bkg_inaccessible">{{ equipment.getStatutDeMaintenance() }}</td>
                        {% endif %}
                        <td><button onclick="editEquipement(
                            '{{ equipment.getId() }}',
                            '{{ equipment.getLibelleEquipement() }}',
                            '{{ equipment.getVisite() }}',
                            '{{ equipment.getRaisonSociale() }}',
                            '{{ equipment.getModeleNacelle() }}',
                            '{{ equipment.getHauteurNacelle() }}',
                            '{{ equipment.getIfExistDB() }}',
                            '{{ equipment.getSignatureTech() }}',
                            '{{ equipment.getTrigrammeTech() }}',
                            '{{ equipment.getAnomalies() }}',
                            '{{ equipment.getIdContact() }}',
                            '{{ equipment.getCodeSociete() }}',
                            '{{ equipment.getCodeAgence() }}',
                            '{{ equipment.getNumeroEquipement() }}',
                            '{{ equipment.getModeFonctionnement() }}',
                            '{{ equipment.getRepereSiteClient() }}',
                            '{{ equipment.getMiseEnService() }}',
                            '{{ equipment.getNumeroDeSerie() }}',
                            '{{ equipment.getMarque() }}',
                            '{{ equipment.getHauteur() }}',
                            '{{ equipment.getLargeur() }}',
                            '{{ equipment.getLongueur() }}',
                            '{{ equipment.getPlaqueSignaletique() }}',
                            '{{ equipment.getEtat() }}',
                            '{{ equipment.getDerniereVisite() }}',
                            '{{ equipment.getStatutDeMaintenance() }}',
                            '{{ equipment.getPresenceCarnetEntretien() }}',
                            '{{ equipment.getStatutConformite() }}'
                        )" type="button" class="btn btn-primary edit_equipement" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class=" fa-solid fa-pen-to-square"></i> Edit
                        </button></td>
                    </tr>
                {% elseif  equipment.visite  == "CE4" %}
                    <tr class="bkg_row_visite_4" id="{{ equipment.getId() }}" data-visite="{{ equipment.getVisite() }}" data-libelle="{{ equipment.getLibelleEquipement() }}" data-statut="{{ equipment.getStatutDeMaintenance() }}">
                        <td>{{ equipment.getVisite() }}</td>
                        <td>{{ equipment.getNumeroEquipement() }}</td>
                        <td>{{ equipment.getLibelleEquipement() }}</td>
                        <td>{{ equipment.getDerniereVisite() }}</td>
                        <td>{{ equipment.getRepereSiteClient() }}</td>
                        <td>{{ equipment.getMiseEnService() }}</td>
                        <td>{{ equipment.getNumeroDeSerie() }}</td>
                        <td>{{ equipment.getMarque() }}</td>
                        <td>{{ equipment.getHauteur() }}</td>
                        <td>{{ equipment.getLargeur() }}</td>
                        <td>{{ equipment.getLongueur() }}</td>
                        <td>{{ equipment.getDateEnregistrement() }}</td>
                        <td>{{ equipment.getEtat() }}</td>
                        {%if equipment.statutDeMaintenance == "Vert" %}
                            <td class="bkg_vert">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Orange" %}
                            <td class="bkg_orange">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Rouge" %}
                            <td class="bkg_rouge">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "A l'arrêt" %}
                            <td class="bkg_arret">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Inaccessible" %}
                            <td class="bkg_inaccessible">{{ equipment.getStatutDeMaintenance() }}</td>
                        {% endif %}
                        <td><button onclick="editEquipement(
                            '{{ equipment.getId() }}',
                            '{{ equipment.getLibelleEquipement() }}',
                            '{{ equipment.getVisite() }}',
                            '{{ equipment.getRaisonSociale() }}',
                            '{{ equipment.getModeleNacelle() }}',
                            '{{ equipment.getHauteurNacelle() }}',
                            '{{ equipment.getIfExistDB() }}',
                            '{{ equipment.getSignatureTech() }}',
                            '{{ equipment.getTrigrammeTech() }}',
                            '{{ equipment.getAnomalies() }}',
                            '{{ equipment.getIdContact() }}',
                            '{{ equipment.getCodeSociete() }}',
                            '{{ equipment.getCodeAgence() }}',
                            '{{ equipment.getNumeroEquipement() }}',
                            '{{ equipment.getModeFonctionnement() }}',
                            '{{ equipment.getRepereSiteClient() }}',
                            '{{ equipment.getMiseEnService() }}',
                            '{{ equipment.getNumeroDeSerie() }}',
                            '{{ equipment.getMarque() }}',
                            '{{ equipment.getHauteur() }}',
                            '{{ equipment.getLargeur() }}',
                            '{{ equipment.getLongueur() }}',
                            '{{ equipment.getPlaqueSignaletique() }}',
                            '{{ equipment.getEtat() }}',
                            '{{ equipment.getDerniereVisite() }}',
                            '{{ equipment.getStatutDeMaintenance() }}',
                            '{{ equipment.getPresenceCarnetEntretien() }}',
                            '{{ equipment.getStatutConformite() }}'
                        )" type="button" class="btn btn-primary edit_equipement" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class=" fa-solid fa-pen-to-square"></i> Edit
                        </button></td>
                    </tr>
                {% elseif  equipment.visite  == "CEA" %}
                    <tr class="bkg_row_visite_A" id="{{ equipment.getId() }}" data-visite="{{ equipment.getVisite() }}" data-libelle="{{ equipment.getLibelleEquipement() }}" data-statut="{{ equipment.getStatutDeMaintenance() }}">
                        <td>{{ equipment.getVisite() }}</td>
                        <td>{{ equipment.getNumeroEquipement() }}</td>
                        <td>{{ equipment.getLibelleEquipement() }}</td>
                        <td>{{ equipment.getDerniereVisite() }}</td>
                        <td>{{ equipment.getRepereSiteClient() }}</td>
                        <td>{{ equipment.getMiseEnService() }}</td>
                        <td>{{ equipment.getNumeroDeSerie() }}</td>
                        <td>{{ equipment.getMarque() }}</td>
                        <td>{{ equipment.getHauteur() }}</td>
                        <td>{{ equipment.getLargeur() }}</td>
                        <td>{{ equipment.getLongueur() }}</td>
                        <td>{{ equipment.getDateEnregistrement() }}</td>
                        <td>{{ equipment.getEtat() }}</td>
                        {%if equipment.statutDeMaintenance == "Vert" %}
                            <td class="bkg_vert">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Orange" %}
                            <td class="bkg_orange">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Rouge" %}
                            <td class="bkg_rouge">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "A l'arrêt" %}
                            <td class="bkg_arret">{{ equipment.getStatutDeMaintenance() }}</td>
                            {% elseif equipment.statutDeMaintenance == "Inaccessible" %}
                            <td class="bkg_inaccessible">{{ equipment.getStatutDeMaintenance() }}</td>
                        {% endif %}
                        <td><button onclick="editEquipement(
                            '{{ equipment.getId() }}',
                            '{{ equipment.getLibelleEquipement() }}',
                            '{{ equipment.getVisite() }}',
                            '{{ equipment.getRaisonSociale() }}',
                            '{{ equipment.getModeleNacelle() }}',
                            '{{ equipment.getHauteurNacelle() }}',
                            '{{ equipment.getIfExistDB() }}',
                            '{{ equipment.getSignatureTech() }}',
                            '{{ equipment.getTrigrammeTech() }}',
                            '{{ equipment.getAnomalies() }}',
                            '{{ equipment.getIdContact() }}',
                            '{{ equipment.getCodeSociete() }}',
                            '{{ equipment.getCodeAgence() }}',
                            '{{ equipment.getNumeroEquipement() }}',
                            '{{ equipment.getModeFonctionnement() }}',
                            '{{ equipment.getRepereSiteClient() }}',
                            '{{ equipment.getMiseEnService() }}',
                            '{{ equipment.getNumeroDeSerie() }}',
                            '{{ equipment.getMarque() }}',
                            '{{ equipment.getHauteur() }}',
                            '{{ equipment.getLargeur() }}',
                            '{{ equipment.getLongueur() }}',
                            '{{ equipment.getPlaqueSignaletique() }}',
                            '{{ equipment.getEtat() }}',
                            '{{ equipment.getDerniereVisite() }}',
                            '{{ equipment.getStatutDeMaintenance() }}',
                            '{{ equipment.getPresenceCarnetEntretien() }}',
                            '{{ equipment.getStatutConformite() }}'
                        )" type="button" class="btn btn-primary edit_equipement" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class=" fa-solid fa-pen-to-square"></i> Edit
                        </button></td>
                    </tr>
                {% endif %}
            </tbody>
        {% endfor %}
        </table>
    </form>
</div>
{%endif%}
{% endblock %}
{% endblock %}
