{% extends 'base.html.twig' %}

{% block title %}
    Parc Équipements GLS
{% endblock %}
{% block stylesheets %}
    <!-- our project just needs Font Awesome Solid + Brands it's FREE icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="public/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="public/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="public/fontawesome/css/solid.min.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
        <script src="https://kit.fontawesome.com/722abd2107.js" crossorigin="anonymous"></script>
        <script src="public/js/filterFunction.js"></script>
        <script src="public/js/editEquipmentInModal.js"></script>
        <script src="public/js/getImagesFromIdEquipement.js"></script>
{% endblock %}
{% block body %}
    <style>
        body{
            background-color: rgb(6, 22, 37);
            color: white;
            padding: 80px;
            /* background-color: #96C2DB;
            color: rgb(43, 46, 45); */
        }
        header{
            font-size: 24px;
            text-align: center;
            margin-top: -30px;
        }
        nav{
            margin-top: 30px;
            margin-bottom: 30px;
            max-width: -webkit-fill-available;
        }
        .navbar-brand i {
            margin: 10px;
            font-size: xx-large;
        }
        /*Sélection agence et client*/
        .selections-container{
            width: 94vw;
            margin-left: 30px;
            margin-bottom: 30px;
        }
        .form-control {
            display: block;
            width: 75%;
        }
        input.form-control-client {
            width: 20%;
        }
        /* CLIENTS */
        .selection-client{
            margin-bottom: 30px;
        }
        .selection-client-container{
            width: 100vw;
            margin-left: 30px;
        }
        .selection-client-label{
            margin-right: 30px;
            font-size: 18px;
        }
        #client-sous-contrat-select, #agence-somafi{
            width: 385px;
            margin-top: 12px;
            margin-bottom: 15px;
        }

        /* AGENCES */
        .selection-agence{
            margin-bottom: 20px;
        }
        .selection-agence-label{
            margin-right: 30px;
            font-size: 18px;
        }
        #agence-sous-contrat-select{
            width: 250px;
            margin-left: 36px;
        }
        
        /*Infos client*/
        .client-infos{
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .entete-client-infos{
            height: 25%;
            display: flex;
        }
        .infos-nombre-equipements h3, .infos-contrat h3{
            text-align: center;
        }
        .client-infos-nombre{
            font-size: 30px;
            text-align: center;
        }
        .card-body{
            height: 219px;
        }
        .card-title{
            text-align: center;
        }
        span{
            margin-bottom: 10px;
            font-size: 20px;
        }

        .btn i{
            margin: 5px;
        }

        /*Table équipements client*/
        th{
            font-size: 22px;
            text-align: center;
            margin-bottom: 3px;
        }
        thead th{
            position: sticky;
            top: 0;
            background-color: rgb(6, 22, 37);
        }
        td{
            border: 1px solid black;
            width: 20rem;
            height: 2rem;
            margin: 5px;
            text-align: center;
            font-size: 20px;
            color: black;
        }
        .bootstrap-table .fixed-table-container .table tfoot th .th-inner, .bootstrap-table .fixed-table-container .table thead th .th-inner {
            padding: .20rem;
        }
        .bootstrap-table .fixed-table-container .table tfoot th, .bootstrap-table .fixed-table-container .table thead th {
            vertical-align: top;
        }
        /*Filtres de la table*/
        .filters-table{
            display: flex;
            width: 60%;
            justify-content: space-around;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            margin: auto;
            margin-bottom: 30px;
            margin-top: 35px;
            border: 2px solid grey;
        }
        .filters-table h3{
            margin-top: 70px;
            font-size: 30px;
            color: black;
        }
        #filtre-trigramme, #filtre-visite, #filtre-statutdemaintenance{
            display: flex;
            flex-direction: column;
            width: 150px;
            align-items: center;
            background-color: rgba(63, 58, 58, 0.6);
            padding: 10px;
            border: 4px solid black;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #filtre-trigramme label, #filtre-visite label, #filtre-statutdemaintenance label{
            font-size: 20px;
            color: black;
        }
        .select_libelle, .select_visite, .select_statutdemaintenance{
            width: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #filtre-visite .btn.btn-danger, #filtre-statutdemaintenance .btn.btn-danger, #filtre-trigramme .btn.btn-danger {
            font-size: 10px;
            margin-left: 110px;
            margin-top: -10px;
        }
        #statutdemaintenance-dropdown{
            width: 110px;
        }

        /* MODAL */
        .modal{
            color: black;
            --bs-modal-width: 30%;
        }
        .modal label{
            margin-top: 15px;
        }
        textarea {
            resize: none;
            height: 100px;
        }
        .modal .form_control{
            width: 75%;
        }
        .modal .btn-primary{
            margin-top: 30px;
        }
        .me-auto {
            margin-top: 10px;
        }
        .me-auto span {
            color: black;
        }

    </style>

    {% if app.user and is_granted('ROLE_ADMIN_GLS') or is_granted('ROLE_USER_GLS') %}
        {% block header %}
            <header class="header">
                {# <h1>Parc Équipements Clients Somafi</h1> #}
                <h1>Parc Équipements GLS</h1>
                    {# <h2>Bonjour {{ app.user.firstName }}</h2> #}
            </header>
        {% endblock %}
        <nav class="navbar bg-body-tertiary">
            <div class="container">
            <a class="navbar-brand" href="/gls">
                <i class="fa-solid fa-house"> </i>Accueil
            </a>
            <ul class="navbar-nav me-auto">
                {% if is_granted('ROLE_ADMIN_KUEHNE') or is_granted('ROLE_ADMIN_GLS') %}
                    <li class="nav-item">
                        <a class="nav-link align-items-center" data-bs-toggle="collapse" href="#collapseUsers" role="button" aria-expanded="false" aria-controls="collapseUsers">
                            <i class="fa-solid fa-user"></i>
                            <span style="font-size:16px;">Interface de gestion Contrats Cadre</span>
                            <i class="ms-1 fa-solid fa-caret-down"></i>
                        </a>
                        <div class="collapse" id="collapseUsers">
                            <ul class="nav flex-column">
                                {% if is_granted('ROLE_ADMIN_KUEHNE') %}
                                    <li class="nav-item">
                                        <a class="nav-link ms-3" href="{{ path('app_kuehne') }}">KUEHNE</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN_GLS') %}
                                    <li class="nav-item">
                                        <a class="nav-link ms-3" href="{{ path('app_gls') }}">GLS</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="navbar-brand" >
                        <i class="fa-solid fa-user"></i>Se déconnecter
                    </a>
                </li>
            </ul>
            </div>
        </nav>
        {% block clientsInformations %}
        <div class="selections-container">
            <div class="selection-client" >
                <!-- N'apparait que si le client n'est pas sélectionné et que l'agence n'est pas sélectionnée -->
                {# {% if agenceSelected == NULL %}
                    <div>
                        <h2><span class="number"> 1 - </span>Sélectionnez votre agence</h2>
                        <form action="" method="post">
                            <select class="form-control" id="agence-somafi" name="agenceName">
                                <option value = "" selected> Select agence </option> 
                                {% for agence in agenciesArray %}
                                    <option  value="{{ agence.getCode() }}" id="agence_selected">{{ agence.getAgence() }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit"  name ="submitAgence" class="btn btn-primary">Select Agence</button>
                        </form>
                    </div>
                {% endif %} #}
                <!-- N'apparait que si les informations client sont vide -->
                {% if clientSelectedInformations == NULL %}
                    <div>
                        <h2>Sélectionnez votre site</h2>
                        <form action="" method="post">
                            <input type="text" class="form-control form-control-client" placeholder="Search.." id="myInput" onkeyup="filterFunction()" >
                            <select class="form-control" id="client-sous-contrat-select" name="clientName" onFocus="expand(this)" onBlur="unexpand(this)"  onclick="unexpand(this)">
                                <option value = "" selected> Sélection du site </option> 
                                {% for client in allGlsContactsFromFrance%}
                                    <option value="{{ client.raison_sociale }}" id="client_selected_s50">{{ client.raison_sociale }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit"  name ="submitClient" class="btn btn-primary">Select Client</button>
                        </form> 
                    </div>
                {% endif %}
            </div>
        </div>
        {% if clientSelectedInformations != NULL  %}
            <div class="row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Adresse</h4>
                            <span></span>
                            <span class="card-text"><b>{{ clientSelectedInformations.getRaisonSociale() }}</b></span><br>
                            <span class="card-text">{{ clientSelectedInformations.getAdressep1() }} </span><br>
                            <span class="card-text">{{ clientSelectedInformations.getCpostalp() }} </span><br>
                            <span class="card-text">{{ clientSelectedInformations.getVillep() }} </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Infos client à communiquer</h4>
                            <span class="card-text"><b>Id client</b> : {{ clientSelectedInformations.getIdContact() }} </span><br>
                            <span class="card-text"><b>Id société</b> : {{ clientSelectedInformations.getIdSociete() }}</span><br>
                            <span class="card-text"><b>Agence</b> : {{ agenceSelected }}</span><br>
                            <span class="card-text"><b>Téléphone</b> : {{ clientSelectedInformations.getTelephone() }} </span><br>
                            {% if clientSelectedEquipmentsFiltered is not empty %}
                                <span class="card-text"><b>Date de dernière visite</b> : {{ clientSelectedEquipmentsFiltered[0].getDerniereVisite()|date("d/m/Y", false) }} </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Filtres</h4>
                            {# Formulaire de filtres avec valeurs par défaut #}
                            {# <form id="filterForm" method="get" action="{{ path('votre_route_actuelle') }}"> #}
                            <form id="filterForm" method="get" action="">
                                <input type="hidden" class="form-control" id="clientSelected" name="clientSelected" value="{{ clientSelected }}">
                                <input type="hidden" class="form-control" id="agenceSelected" name="agenceSelected" value="{{ agenceSelected }}">
                                <input type="hidden" class="form-control" id="idClientSelected" name="idClientSelected" value="{{ idClientSelected }}">
                                <div class="form-group">
                                    <label for="clientAnneeFilter">Année :</label>
                                    <select class="form-control" id="clientAnneeFilter" name="clientAnneeFilter">
                                        {% for annee in clientAnneeFilterArray %}
                                            <option value="{{ annee }}" {% if clientAnneeFilter == annee %}selected{% endif %}>{{ annee }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="clientVisiteFilter">Visite :</label>
                                    <select class="form-control" id="clientVisiteFilter" name="clientVisiteFilter">
                                        {% for visite in clientVisiteFilterArray %}
                                            <option value="{{ visite }}" {% if clientVisiteFilter == visite %}selected{% endif %}>{{ visite }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" name="submitFilters" value="1" class="btn btn-primary">Filtrer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Nombre d'équipements</h4>
                            <br>
                            <br>
                            <p class="client-infos-nombre">{{ totalClientSelectedEquipmentsFiltered }}</p>
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN_GLS') %}
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Uploader un fichier</h4>
                                <br>
                                <br>
                                <div class="mb-4">
                                    {# <label for="formFile" class="form-label">Attaché à ce site</label> #}
                                    <form action="{{ path('gls_upload_file') }}" method="POST" enctype="multipart/form-data">
                                        <input class="form-control" style="width:85%" type="file" id="formFile" name="fileselected">
                                        <input type="hidden" id="id_client" name="id_client" value="{{ idClientSelected }}">
                                        <input type="hidden" id="client_name" name="client_name" value="{{ clientSelected }}">
                                        <br>
                                        <button type="submit"  name ="submitFile" class="btn btn-primary">Enregistrer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if directoriesLists is not empty %}
                    <div class="col-sm-2">
                        <div class="card downloadPdf">
                            <div class="card-body">
                                <h4 class="card-title">Vos fichiers</h4>
                                {% for objectFile in directoriesLists %}
                                    <a href="{{ asset('../public/uploads/documents_cc/'~clientSelected~'/' ~ objectFile) }}" target="_blank">{{ objectFile }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {%endif%}
        {% endblock %}
        
        {% block modal %}
        <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class=" fa-solid fa-pen-to-square"></i> Édition de l'équipement</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/save/modal/equipement" method="post" class="row g-12">
                                <input type="hidden" class="form-control" id="modal_libelle" value="" name="libelle" />
                                <input type="hidden" class="form-control" id="modal_idContact" value="" name="idContact" />
                                <input type="hidden" class="form-control" id="modal_idSociete" value="" name="idSociete" />
                                <input type="hidden" class="form-control" id="modal_anomalies" value="" name="anomalies" />
                                <input type="hidden" class="form-control" id="modal_trigrammeTech" value="" name="trigrammeTech" />
                                <input type="hidden" class="form-control" id="modal_signatureTech" value="" name="signatureTech" />
                                <input type="hidden" class="form-control" id="modal_ifExistDB" value="" name="ifExistDB" />
                                <input type="hidden" class="form-control" id="modal_hauteurNacelle" value="" name="hauteurNacelle" />
                                <input type="hidden" class="form-control" id="modal_modeleNacelle" value="" name="modeleNacelle" />
                                <input type="hidden" class="form-control" id="modal_raisonSociale" value="" name="raisonSociale" />
                                <input type="hidden" class="form-control" id="modal_visite" value="" name="visite" />
                                <input type="hidden" class="form-control" id="modal_id" value="" name="id" />
                                <div class="col-md-12">
                                    <h3>Personne modifiant l'équipement</h3>
                                    <div class="col-md-6">
                                        <label for="nom" class="form-label">Votre nom</label>
                                        <input type="text" class="form-control" id="modal_nom" value="" name="nom" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="prenom" class="form-label">Votre prénom</label>
                                        <input type="text" class="form-control" id="modal_prenom" value="" name="prenom" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="trigramme" class="form-label">Équipement cible</label>
                                    <input type="text" class="form-control" id="modal_trigramme" value="" name="trigramme" />
                                    <label for="codeAgence" class="form-label">Code Agence</label>
                                    <input type="text" class="form-control" id="modal_codeAgence" value="" name="codeAgence" />
                                </div>
                                <div class="col-md-6">
                                    <label for="modeFonctionnement" class="form-label">Mode de fonctionnement</label>
                                    <input type="text" class="form-control" id="modal_modeFonctionnement" value="" name="modefonctionnement" />
                                </div>
                                <div class="col-md-6">
                                    <label for="repereCiteClient" class="form-label">Repère site client</label>
                                    <input type="text" id="modal_repereSiteClient" class="form-control" value="" name="reperesiteclient" />
                                </div>
                                <div class="col-md-6">
                                    <label for="miseEnService" class="form-label">Mise en service</label>
                                    <input type="text" id="modal_miseEnService" class="form-control" value="" name="miseenservice" />
                                </div>
                                <div class="col-md-6">
                                    <label for="numeroDeSerie" class="form-label">Numéro de série</label>
                                    <input type="text" id="modal_numeroDeSerie" class="form-control" value="" name="numerodeserie" />
                                </div>
                                <div class="col-md-6">
                                    <label for="marque" class="form-label">Marque</label>
                                    <input type="text" id="modal_marque" class="form-control" value="" name="marque" />
                                </div>
                                <div class="col-md-6">
                                    <label for="hauteur" class="form-label">Hauteur</label>
                                    <input type="text" id="modal_hauteur" class="form-control" value="" name="hauteur" />
                                </div>
                                <div class="col-md-6">
                                    <label for="Largeur" class="form-label">Largeur</label>
                                    <input type="text" id="modal_largeur" class="form-control" value="" name="largeur" />
                                </div>
                                <div class="col-md-6">
                                    <label for="longueur" class="form-label">Longueur</label>
                                    <input type="text" id="modal_longueur" class="form-control" value="" name="longueur" />
                                </div>
                                <div class="col-md-12">
                                    <label for="plaqueSignaletique" class="form-label">Plaque signalétique</label>
                                    <input type="text" id="modal_plaqueSignaletique" class="form-control" value="" name="plaquesignaletique"/>
                                </div>
                                <div class="col-12">
                                    <label for="etat" class="form-label">État de l'équipement</label>
                                    <textarea id="modal_etat" class="form-control " value="" name="etat" ></textarea>
                                </div>
                                <div class="col-6">
                                    <label for="dateDerniereVisite" class="form-label">Dernière visite de maintenance</label>
                                    <input type="text" id="modal_derniereVisite"class="form-control" value="" name="dernierevisitedemaintenance" />
                                </div>
                                <div class="col-6">
                                    <label for="statut-actuel" class="form-label">Statut actuel de l'équipement</label>
                                    <input type="text" id="modal_statut" class="form-control" value="" name="oldstatut" />
                                </div>
                                <div class="col-6">
                                    <label for="statut" class="form-label">Statut de l'équipement</label>
                                    <select id="modal_prochain_statut" class="form-select"  name="newstatutclient">
                                        <option selected>Choose...</option>
                                        <option value="Vert">Vert</option>
                                        <option value="Orange">Orange</option>
                                        <option value="Rouge">Rouge</option>
                                        <option value="A l'arrêt">A l'arrêt</option>
                                        <option value="Innaccessible">Inaccessible</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="carnetEntretien" class="form-label">Présence carnet d'entretien</label>
                                    <input type="text" id="modal_carnetEntretien" class="form-control" value="" name="carnetentretien" />
                                </div>
                                <div class="col-md-6">
                                    <label for="statutConformite" class="form-label">Statut conformité</label>
                                    <input type="text" id="modal_statutConformite" class="form-control" value="" name="statutconformite" />
                                </div>
                                
                                <button type="submit" id="saveEquipmentFromModal" class="btn btn-primary" name="saveEquipmentFromModal">Enregistrer</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {# Conteneur pour la table des équipements (sera mis à jour par AJAX) #}
        <div id="equipment-table-container">
            {% include 'components/equipment_table_gls.html.twig' with {'clientSelectedEquipmentsFiltered': clientSelectedEquipmentsFiltered} %}
        </div>
        {% else %}
        <header class="header">
            <h1>Vous n'avez pas suffisament de droits pour accéder à l'application ou n'êtes pas connecté</h1>
            <br />
            <h3>Contactez le service informatique ou connectez vous à l'aide d'un autre login</h3>
        </header>
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="navbar-brand" >
                            <i class="fa-solid fa-user"></i>Se Connecter
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}
    <script>
        $(document).ready(function() {
            // Intercepter la soumission du formulaire
            $('#filterForm').on('submit', function(e) {
                e.preventDefault();
                
                // Récupérer les données du formulaire
                var formData = $(this).serialize();
                
                // Envoyer la requête AJAX
                $.ajax({
                    url: '/ajax/filter-equipment-gls',
                    type: 'GET',
                    data: formData,
                    success: function(response) {
                        // Mettre à jour le conteneur du tableau
                        $('#equipment-table-container').html(response);
                        // Réinitialiser Bootstrap Table
                        $('#table').bootstrapTable();
                    },
                    error: function(xhr) {
                        console.error('Erreur lors du chargement des données:', xhr.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}
