{% extends 'base.html.twig' %}
{% block title %}
    Ajout d'un nouveau contact
{% endblock %}
{% block stylesheets %}
    <!-- our project just needs Font Awesome Solid + Brands it's FREE icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/722abd2107.js" crossorigin="anonymous"></script>
        <script src="/public/js/filterFunction.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const container = document.getElementById('equipements-container');
                const addButton = document.getElementById('ajouter-equipement');

                addButton.addEventListener('click', function() {
                    fetch('{{ path('app_equipement_new_line') }}')
                        .then(response => response.text())
                        .then(html => {
                            container.insertAdjacentHTML('beforeend', html);
                        });
                });
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('nbr_visites').addEventListener('focusout', function() {
                    var nombreVisites = this.value;
                    var selectVisites = document.getElementById('choix_visites');

                    // Efface les options existantes (sauf l'option par défaut)
                    while (selectVisites.options.length > 1) {
                        selectVisites.remove(1);
                    }

                    // Si un nombre de visites est saisi, génère les nouvelles options
                    if (nombreVisites) {
                        // Envoie une requête AJAX à votre contrôleur Symfony
                        fetch('/get_visites/' + nombreVisites)
                            .then(response => response.json())
                            .then(data => {
                                data.forEach(visite => {
                                    var option = document.createElement('option');
                                    option.value = visite;
                                    option.text = visite;
                                    selectVisites.add(option);
                                });
                            });
                    }
                });
            });
        </script>
{% endblock %}
{% block body %}
<style>
    body{
        background-color: rgb(6, 22, 37);
        color: white;
        padding: 80px;
        /* background-color: #96C2DB;
        color: rgb(43, 46, 45); */
    }
    header{
        font-size: 24px;
        text-align: center;
        margin-top: -30px;
    }
    nav{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 92vw;
    }
    .navbar-brand i {
        margin: 10px;
        font-size: xx-large;
    }
    /*Sélection agence et client*/
    .selections-container{
        width: 94vw;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .form-control {
        display: block;
        width: 75%;
    }
    input.form-control-client {
        width: 20%;
    }
    /* CLIENTS */
    .selection-client{
        margin-bottom: 30px;
    }
    .selection-client-container{
        width: 100vw;
        margin-left: 30px;
    }
    .selection-client-label{
        margin-right: 30px;
        font-size: 18px;
    }
    #client-sous-contrat-select, #agence-somafi{
        width: 385px;
        margin-top: 12px;
        margin-bottom: 15px;
    }

    /* AGENCES */
    .selection-agence{
        margin-bottom: 20px;
    }
    .selection-agence-label{
        margin-right: 30px;
        font-size: 18px;
    }
    #agence-sous-contrat-select{
        width: 250px;
        margin-left: 36px;
    }
    
    /*Infos client*/
    .client-infos{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .entete-client-infos{
        height: 25%;
        display: flex;
    }
    .infos-nombre-equipements h3, .infos-contrat h3{
        text-align: center;
    }
    .client-infos-nombre{
        font-size: 30px;
        text-align: center;
    }
    .card-body{
        height: 230px;
    }
    .card-title{
        text-align: center;
    }
    span{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .btn i{
        margin: 5px;
    }

    /*Table équipements client*/
    th{
        font-size: 22px;
        text-align: center;
        margin-bottom: 3px;
    }
    thead th{
        position: sticky;
        top: 0;
        background-color: rgb(6, 22, 37);
    }
    td{
        border: 1px solid black;
        width: 20rem;
        height: 2rem;
        margin: 5px;
        text-align: center;
        font-size: 20px;
        color: black;
    }
    .bootstrap-table .fixed-table-container .table tfoot th .th-inner, .bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding: .20rem;
    }
    .bootstrap-table .fixed-table-container .table tfoot th, .bootstrap-table .fixed-table-container .table thead th {
        vertical-align: top;
    }
    /* Couleurs des td selon statut de maintenance */
    .bkg_vert{
        width: 4rem;
        background-color: green;
        color: white;
        font-weight: bold;
    }
    .bkg_orange{
        width: 4rem;
        background-color: orange;
        color: white;
        font-weight: bold;
    }
    .bkg_rouge{
        width: 4rem;
        background-color: red;
        color: white;
        font-weight: bold;
    }
    .bkg_arret{
        width: 4rem;
        background-color: black;
        color: white;
        font-weight: bold;
    }
    .bkg_inaccessible{
        width: 4rem;
        background-color: yellow;
        font-weight: bold;
    }
    /* Couleurs des TR selon la visite */
    .bkg_row_visite_1{
        background-color: lightgray;
    }
    .bkg_row_visite_2{
        background-color: lightblue;
    }
    .bkg_row_visite_3{
        background-color: lightseagreen;
    }
    .bkg_row_visite_4{
        background-color: lightsalmon;
    }
    .bkg_row_visite_A{
        background-color: lightyellow;
    }

    /*Filtres de la table*/
    .filters-table{
        display: flex;
        width: 60%;
        justify-content: space-around;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        margin: auto;
        margin-bottom: 30px;
        margin-top: 35px;
        border: 2px solid grey;
    }
    .filters-table h3{
        margin-top: 70px;
        font-size: 30px;
        color: black;
    }
    #filtre-trigramme, #filtre-visite, #filtre-statutdemaintenance{
        display: flex;
        flex-direction: column;
        width: 150px;
        align-items: center;
        background-color: rgba(63, 58, 58, 0.6);
        padding: 10px;
        border: 4px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #filtre-trigramme label, #filtre-visite label, #filtre-statutdemaintenance label{
        font-size: 20px;
        color: black;
    }
    .select_libelle, .select_visite, .select_statutdemaintenance{
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #filtre-visite .btn.btn-danger, #filtre-statutdemaintenance .btn.btn-danger, #filtre-trigramme .btn.btn-danger {
        font-size: 10px;
        margin-left: 110px;
        margin-top: -10px;
    }
    #statutdemaintenance-dropdown{
        width: 110px;
    }

    /* MODAL */
    .modal{
        color: black;
        --bs-modal-width: 30%;
    }
    .modal label{
        margin-top: 15px;
    }
    textarea {
        resize: none;
        height: 100px;
    }
    .modal .form_control{
        width: 75%;
    }
    .modal .btn-primary{
        margin-top: 30px;
    }

    /* Checkbox du formulaire contratet équipements */
     input[type="checkbox"] {
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background-color:rgb(31, 98, 160);
        border: 1px solid #4CAF50;
    }

    input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 1px;
        width: 6px;
        height: 12px;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
</style>
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOMAFI') %}
    {% if app.user %}
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <i class="fa-solid fa-house"> </i>Accueil
                </a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('app_contrat_new') }}" class="navbar-brand" ><i class="fa-solid fa-file-contract"> </i>Nouveau contrat</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="navbar-brand" >
                            <i class="fa-solid fa-user"> </i>Se déconnecter
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>Création d'un Contrat</h1>
        <form method="post">
            <label for="agence">Agence :</label>
            <select style="width: 20%;" class="form-control" name="agence" id="agence">
                <option value="">Sélectionnez une agence</option>
                {% for key, agence in agences %}
                    <option value="{{ agence }}" {{ app.request.request.get('agence') == key ? 'selected' : '' }}>{{ agence }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit"  name ="submit_agence" class="btn btn-primary">Valider</button>
        </form>
        <br>
        <br>
        {% if agenceSelectionnee is not empty %}
            <form action="" method="post">
                <input type="text" class="form-control form-control-client" placeholder="Search.." id="myInput" onkeyup="filterFunction()" >
                <select style="width: 35%;" class="form-control" id="client-sous-contrat-select" name="clientName" onFocus="expand(this)" onBlur="unexpand(this)">
                    <option value = "" selected> Select client </option> 
                    {% for contact in contactsFromKizeoSplittedInObject%}
                        <option value="{{ contact.raison_sociale }}|{{ contact.id_contact }}|{{ contact.agence }}|{{ contact.code_postal }}|{{ contact.ville }}|{{ contact.id_societe }}|{{ contact.equipement_supp_1 }}|{{ contact.equipement_supp_2 }}" id="contact_selected">{{ contact.raison_sociale }}  {{ contact.ville }}</option>
                    {% endfor %}
                </select>
                <button type="submit"  name ="submit_contact" class="btn btn-primary">Select Client</button>
            </form> 
        {% endif %}
        {% if clientSelectedInformations is not empty  %}
            <div class="row">
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Adresse</h4>
                            <span></span>
                            <span class="card-text"><b>{{ clientSelectedInformations.getRaisonSociale() }}</b></span><br>
                            <span class="card-text">{{ clientSelectedInformations.getAdressep1() }} </span><br>
                            <span class="card-text">{{ clientSelectedInformations.getAdressep2() }} </span><br>
                            <span class="card-text">{{ clientSelectedInformations.getCpostalp() }} </span><br>
                            <span class="card-text">{{ clientSelectedInformations.getVillep() }} </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Infos client</h4>
                            <span class="card-text"><b>Id client</b> : {{ clientSelectedInformations.getIdContact() }} </span><br>
                            <span class="card-text"><b>Id société</b> : {{ clientSelectedInformations.getIdSociete() }}</span><br>
                            <span class="card-text"><b>Agence</b> : {{ contactAgence }}</span><br>
                            <span class="card-text"><b>Téléphone</b> : {{ clientSelectedInformations.getTelephone() }} </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Date de fin de contrat</h4>
                            <br>
                            <br>
                            <p class="client-infos-nombre">N/C</p>
                        </div>
                    </div>
                </div>
                {# <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Nombre d'équipements</h4>
                            <br>
                            <br>
                            <p class="client-infos-nombre">{{ totalClientSelectedEquipmentsFiltered }}</p>
                        </div>
                    </div>
                </div> #}
            </div>
            <br />
            <br />
            {% if theAssociatedContract is not empty %}
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Numéro de contrat</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.numero_contrat }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Date de signature</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.date_signature }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Durée du contrat</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.duree }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Tacite reconduction</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.tacite_reconduction }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Valorisation</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.valorisation }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Nombre d'équipements</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.nombre_equipement }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Nombre de visite(s)</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.nombre_visite }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Date de résiliation</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.date_resiliation }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Statut</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.statut }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Date prévisionnelle 1</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.date_previsionnelle_1 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Date prévisionnelle 2</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.date_previsionnelle_2 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Date effective 2</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.date_effective_2 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Date effective 2</h4>
                            <br>
                            <br>
                            <p class="contrat-infos-nombre">{{ theAssociatedContract.date_effective_2 }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <form method="post">
                    <h4>Création du contrat :</h4>
                    <div class="col-sm-2 mt-2">
                        <label for="contact_raison_sociale">Raison sociale :</label>
                        <input type="text" class="form-control" name="contact_raison_sociale" value="{{ clientSelectedInformations.getRaisonSociale() }}" placeholder="{{ clientSelectedInformations.getRaisonSociale() }}"  readonly>
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="contact_id">Id du contact :</label>
                        <input type="text" class="form-control" name="contact_id" value="{{ contactId }}" placeholder="{{ contactId }}"  readonly>
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="contact_agence">Agence de rattachement :</label>
                        <input type="text" class="form-control" name="contact_agence" value="{{ contactAgence }}" placeholder="{{ contactAgence }}"  readonly>
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="numero_contrat">Numéro du contrat :</label>
                        <input type="number" class="form-control" name="numero_contrat">
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="date_signature">Date de signature :</label>
                        <input type="date" class="form-control" name="date_signature">
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="duree">Durée de contrat en année(s):</label>
                        <input type="text" class="form-control" name="duree">
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="tacite_reconduction">Tacite reconduction ? :</label>
                            <label for="tacite_reconduction_oui">Oui<input type="checkbox" class="form-control"  name="tacite_reconduction_oui" value="oui"></label>
                            <label for="tacite_reconduction_non">Non<input type="checkbox" class="form-control"  name="tacite_reconduction_non" value="non"></label>
                    </div>
                    <div class="col-sm-2">
                            <label for="type_valorisation">Type de valorisation :</label>
                            <select class="form-control" name="type_valorisation[]">
                                <option value="" selected>---------</option>
                                {% for valorisation in typesValorisation %}
                                    <option value="{{ valorisation }}">{{ valorisation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <div class="col-sm-2 mt-2">
                        <label for="nombre_equipements_total">Nombre d'équipements total :</label>
                        <input type="text" class="form-control" name="nombre_equipements_total">
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="nombre_visite">Nombre de visites à l'année entre 1 et 4 :</label>
                        <input type="text" class="form-control" name="nombre_visite" id="nbr_visites" min="1" max="4">
                    </div>
                    <div class="col-sm-2 mt-2">
                        <label for="date_previsionnelle">Date prévisionnelle :</label>
                        <input type="date" class="form-control" name="date_previsionnelle">
                    </div>
                    <br />
                    <br />
                    <br />
                    <h4>Création des équipements (1 type d'équipement par ligne) :</h4>
                    <div id="equipements-container">
                        <div style="display:flex;" class="equipement-ligne">
                            <div class="col-sm-2">
                                <label for="nombre_equipements">Nombre d'équipements :</label>
                                <input type="text" class="form-control" name="nombre_equipements[]">
                            </div>
                            <div class="col-sm-2">
                                <label for="type_equipements">Type d'équipements :</label>
                                <select class="form-control" name="type_equipement[]">
                                    <option value="" selected>---------</option>
                                    {% for type in typesEquipements %}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="mode_fonctionnement">Mode de fonctionnement :</label>
                                <select class="form-control" name="mode_fonctionnement[]">
                                    <option value="" selected>---------</option>
                                    {% for mode in modesFonctionnement %}
                                        <option value="{{ mode }}">{{ mode }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="visite_equipement">Visite(s) :</label>
                                <select class="form-control" name="visite_equipement[]" id="choix_visites">
                                    <option value="" selected>---------</option>
                                    {% for visite in visites %}
                                        <option value="{{ visite }}">{{ visite }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" id="ajouter-equipement">+</button>
                    <br>
                    <br>
                    <br>
                    <button type="submit"  name ="submit_contrat" class="btn btn-primary">Enregistrer le contrat de {{ clientSelectedInformations.getRaisonSociale() }}</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
{# FIN DU BLOC BODY #}
{% endblock %}